<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xnjr.moom.dao.IBKSubbranchDAO">
	<resultMap id="bkSubbranch_DB_Result" type="bkSubbranch">
		<result column="code" property="code" />
		<result column="name" property="name" />
		<result column="status" property="status" />
		<result column="bank_code" property="bankCode" />
		<result column="bank_name" property="bankName" />
		<result column="region" property="region" />
		<result column="address" property="address" />
		
		<result column="cnaps_code" property="cnapsCode" />
		<result column="swift_code" property="swiftCode" />
		<result column="khjl_person" property="khjlPerson" />
		<result column="khjl_contact" property="khjlContact" />
		<result column="updater" property="updater" />
		
		<result column="update_datetime" property="updateDatetime" />
	    <result column="remark" property="remark" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="name != null and name != '' ">
				AND t.name like CONCAT('%',#{name},'%')
			</if>
			<if test="bankCode != null and bankCode != '' ">
				AND t.bank_code = #{bankCode}
			</if>
			<if test="region != null and region != '' ">
				AND t.region like CONCAT('%',#{region},'%')
			</if>
			<if test="status != null and status != '' ">
				<choose>  
		        	<when test="status== 'new'">  
		            	AND t.status in (0,2) 
		        	</when>  
		        	<otherwise>  
		              	AND t.status = #{status}
		        	</otherwise>  
	        	</choose>	
			</if>
		</trim>
	</sql>
	
	<select id="select_bkSubbranch" parameterType="bkSubbranch" resultMap="bkSubbranch_DB_Result">
		SELECT
		code
		,name
		,status
		,bank_code
		,bank_name
		,region
		,address
		
		,cnaps_code
		,swift_code
		,khjl_person
		,khjl_contact
		,updater
		
		,update_datetime
		,remark
		FROM
		tbk_subbranch t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
			    <choose>  
			        <when test="order == 'bankName ASC'">  
			           	CONVERT(t.bankName using gbk) ASC 
			        </when>  
			        <when test="order == 'bankName DESC'">  
			           	CONVERT(t.bankName using gbk) DESC 
			        </when>
			       	<otherwise>  
			           	${order}
			       	</otherwise>  
		        </choose>
	        </if>
		</trim>
	</select>

	<select id="select_bkSubbranch_count" parameterType="bkSubbranch" resultType="java.lang.Long">
		SELECT count(1) FROM tbk_subbranch t
		<include refid="where_condition" />
	</select>

	<insert id="insert_bkSubbranch" parameterType="bkSubbranch">
		INSERT INTO tbk_subbranch(
		code
		,name
		,status
		,bank_code
		,bank_name
		,region
		,address
		,cnaps_code
		,swift_code
		,khjl_person
		
		,khjl_contact
		,updater
		,update_datetime
		,remark
		)
		VALUES(
		#{code}
		,#{name}
		,#{status}
		,#{bankCode}
		,#{bankName}
		
		,#{region}
		,#{address}	
		,#{cnapsCode}
		,#{swiftCode}
		,#{khjlPerson}
		
		,#{khjlContact}
		,#{updater}
		,#{updateDatetime}
		,#{remark}
		)
	</insert>
	
	<delete id="delete_bkSubbranch" parameterType="bkSubbranch">
		DELETE FROM tbk_subbranch
		WHERE code = #{code}
	</delete>
	
	<update id="check_bkSubbranch" parameterType="bkSubbranch">
		UPDATE tbk_subbranch SET
		status = #{status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_bkSubbranch" parameterType="bkSubbranch">
		UPDATE tbk_subbranch SET
		name = #{name}
		,status = #{status}
		,bank_code=#{bankCode}
		,bank_name=#{bankName}
		,region = #{region}
		
		,address = #{address}
		,cnaps_code = #{cnapsCode}
		,swift_code = #{swiftCode}
		,khjl_person = #{khjlPerson}
		,khjl_contact = #{khjlContact}
		
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
</mapper>
