<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xnjr.moom.dao.IBusinessTableDAO">
	<resultMap id="businessTable_DB_Result" type="businessTable">
		<result column="type" property="type" />
		<result column="dkey" property="key" />
		<result column="dvalue" property="value" />
		<result column="remark" property="remark" />
		<result column="create_datetime" property="createDatetime" />
		
		<result column="business_code" property="businessCode" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="type != null and type != '' ">
				AND t.type = #{type}
			</if>
			<if test="businessCode != null and businessCode != '' ">
				AND t.business_code = #{businessCode}
			</if>
		</trim>
	</sql>
	
	<select id="select_businessTable" parameterType="businessTable" resultMap="businessTable_DB_Result">
		SELECT
		type
		,dkey
		,dvalue
		,remark
		,create_datetime
		
		,business_code
		FROM
		tmo_business_table t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			${order}
		</trim>
	</select>

	<select id="select_businessTable_count" parameterType="businessTable" resultType="java.lang.Long">
		SELECT count(1) FROM tmo_business_table t
		<include refid="where_condition" />
	</select>

	<insert id="insert_businessTable" parameterType="businessTable">
		INSERT INTO tmo_business_table(
		type
		,dkey
		,dvalue
		,remark
		,create_datetime
		
		,business_code
		)
		VALUES(
		#{type}
		,#{key}
		,#{value}
		,#{remark}
		,#{createDatetime}
		
		,#{businessCode}
		)
	</insert>
	
	
	
	<delete id="delete_businessTable" parameterType="businessTable">
		DELETE FROM tmo_business_table
		WHERE
		business_code = #{businessCode}
	</delete>
</mapper>
