<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xnjr.mall.dao.IBuyGuideDAO">
	<resultMap id="buyGuide_DB_Result" type="buyGuide">
		<result column="code" property="code" />
		<result column="original_price" property="originalPrice" />
		<result column="discount_price" property="discountPrice" />
		<result column="to_level" property="toLevel" />
		<result column="model_code" property="modelCode" />
		
		<result column="model_name" property="modelName" />
	    <result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
		<result column="status" property="status" />
		
		<result column="from_user" property="fromUser" />
		<result column="from_quantity" property="fromQuantity" />
		<result column="from_site" property="fromSite" />
		<result column="cost_price" property="costPrice" />
		<result column="to_site" property="toSite" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="toLevel != null and toLevel != '' ">
				AND t.to_level = #{toLevel}
			</if>
			<if test="modelCode != null and modelCode != '' ">
				AND t.model_code = #{modelCode}
			</if>
			<if test="modelNameForQuery != null and modelNameForQuery != '' ">
				AND tm.name like "%"#{modelNameForQuery}"%"
			</if>
			<if test="updater != null and updater != '' ">
				AND t.updater = #{updater}
			</if>
			<if test="fromUser != null and fromUser != '' ">
				AND t.from_user = #{fromUser}
			</if>
			<if test="fromQuantity != null and fromQuantity != '' ">
				AND t.from_quantity = #{fromQuantity}
			</if>
			<if test="fromSite != null and fromSite != '' ">
				AND t.from_site = #{fromSite}
			</if>
			<if test="toSite != null and toSite != '' ">
				AND t.to_site = #{toSite}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			<if test="productCode != null and productCode != '' ">
				AND tm.product_code = #{productCode}
			</if>
			<if test="category != null and category != '' ">
				AND tp.category = #{category}
			</if>
			<if test="type != null and type != '' ">
				AND tp.type = #{type}
			</if>
		</trim>
	</sql>
	<select id="select_buyGuide" parameterType="buyGuide" resultMap="buyGuide_DB_Result">
		SELECT
		t.code
		,t.original_price
		,t.discount_price
		,t.to_level
		,t.model_code
		
		,tm.name as model_name
		,tp.type as type
		,t.updater
		,t.update_datetime
		,t.remark
		,t.status
		
		,t.from_user
		,t.from_quantity
		,t.from_site
		,t.cost_price
		,t.to_site
		FROM
		tmall_buy_guide t inner join tmall_model tm on t.model_code = tm.code inner join tmall_product tp on tm.product_code = tp.code
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				${order}
			</if>
		</trim>
	</select>

	<select id="select_buyGuide_count" parameterType="buyGuide"
		resultType="java.lang.Long">
		SELECT count(1) FROM tmall_buy_guide t inner join tmall_model tm on t.model_code = tm.code inner join tmall_product tp on tm.product_code = tp.code
		<include refid="where_condition" />
	</select>

	<insert id="insert_buyGuide" parameterType="buyGuide">
		INSERT INTO
		tmall_buy_guide(
		code
		,original_price
		,discount_price
		,to_level
		,model_code
		
		,updater
		,update_datetime
		,remark
		,status
		
		,from_user
		,from_quantity
		,from_site
		,cost_price
		,to_site
		)
		VALUES(
		#{code}
		,#{originalPrice}
		,#{discountPrice}
		,#{toLevel}
		,#{modelCode}
		
		,#{updater}
		,#{updateDatetime}
		,#{remark}
		,#{status}
		
		,#{fromUser}
		,#{fromQuantity}
		,#{fromSite}
		,#{costPrice}
		,#{toSite}
		)
	</insert>
	
	<update id="update_buyGuide" parameterType="buyGuide">
		UPDATE tmall_buy_guide
		SET
		original_price = #{originalPrice}
		,discount_price = #{discountPrice}
		,to_level = #{toLevel}
		,updater = #{updater}
		,to_site = #{toSite}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		,status = ${status}
		WHERE code = #{code}
	</update>
	
	<update id="update_buyGuide_status" parameterType="buyGuide">
		UPDATE tmall_buy_guide
		SET
		status = ${status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<delete id="delete_buyGuide" parameterType="buyGuide">
		DELETE FROM
		tmall_buy_guide
		WHERE
		code = #{code}
	</delete>
</mapper>
