<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xnjr.mall.dao.ICartDAO">
	<resultMap id="cart_DB_Result" type="cart">
		<result column="code" property="code" />
		<result column="user_id" property="userId" />
		<result column="model_code" property="modelCode" />
		<result column="model_name" property="modelName" />
		<result column="pic1" property="pic1" />
		<result column="pic2" property="pic2" />
		<result column="pic3" property="pic3" />
		<result column="quantity" property="quantity" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="userId != null and userId != '' ">
				AND t.user_id = #{userId}
			</if>
			<if test="modelCode != null and modelCode != '' ">
				AND t.model_code = #{modelCode}
			</if>
		</trim>
	</sql>
	<select id="select_cart" parameterType="cart" resultMap="cart_DB_Result">
		SELECT
		t.code
		,t.user_id
		,t.model_code
		,tm.name model_name
		,tm.pic1
		,tm.pic2
		,tm.pic3
		,t.quantity
		FROM
		tmall_cart t inner join tmall_model tm on t.model_code = tm.code
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_cart_count" parameterType="cart"
		resultType="java.lang.Long">
		SELECT count(1) FROM tmall_cart t inner join tmall_model tm on t.model_code = tm.code
		<include refid="where_condition" />
	</select>

	<insert id="insert_cart" parameterType="cart">
		INSERT INTO
		tmall_cart(
		code
		,user_id
		,model_code
		,quantity
		)
		VALUES(
		#{code}
		,#{userId}
		,#{modelCode}
		,#{quantity}
		)
	</insert>
	
	<update id="update_cart" parameterType="cart">
		UPDATE tmall_cart
		SET
		quantity = #{quantity}
		WHERE code = #{code}
	</update>
	
	<delete id="delete_cart" parameterType="cart">
		DELETE FROM
		tmall_cart
		WHERE
		code = #{code}
	</delete>
</mapper>
