<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.service.dao.ICompanyDAO">
	<resultMap id="company_DB_Result" type="company">
		<result column="code" property="code" />
		<result column="type" property="type" />
		<result column="name" property="name" />
		<result column="abbr_name" property="abbrName" />
		<result column="gsyyzzh" property="gsyyzzh" />
		<result column="logo" property="logo" />
		<result column="pic" property="pic" />
		<result column="adv_pic" property="advPic" />
		<result column="slogan" property="slogan" />
		<result column="corporation" property="corporation" />
		<result column="id_no" property="idNo" />
		<result column="province" property="province" />
		<result column="city" property="city" />
		<result column="area" property="area" />
		<result column="address" property="address" />
		<result column="longitude" property="longitude" />
		<result column="latitude" property="latitude" />
		<result column="description" property="description" />
		<result column="scale" property="scale" />
		<result column="registered_capital" property="registeredCapital" />
		<result column="regtime" property="regtime" />
		<result column="gz_num" property="gzNum" />
		<result column="mobile" property="mobile" />
		<result column="email" property="email" />
		<result column="qq" property="qq" />
		<result column="we_chat" property="weChat" />
		<result column="location" property="location" />
		<result column="order_no" property="orderNo" />
		<result column="is_default" property="isDefault" />
		<result column="price_range" property="priceRange" />
		<result column="status" property="status" />
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
		<result column="user_id" property="userId" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="orderNo != null and orderNo != '' ">
				AND t.order_no = #{orderNo}
			</if>
			<if test="name != null and name != '' ">
				AND t.name = #{name}
			</if>
			<if test="type != null and type != '' ">
				AND t.type = #{type}
			</if>
			<if test="location != null and location != '' ">
				AND t.location = #{location}
			</if>
			<if test="province != null and province != '' ">
				AND t.province = #{province}
			</if>
			<if test="city != null and city != '' ">
				AND t.city = #{city}
			</if>
			<if test="area != null and area != '' ">
				AND t.area = #{area}
			</if>
			<if test="userId != null and userId != '' ">
				AND t.user_id = #{userId}
			</if>
		</trim>
	</sql>
	<select id="select_company" parameterType="company" resultMap="company_DB_Result">
		SELECT
		t.code
		,t.type
		,t.name
		,t.abbr_name
		,t.gsyyzzh
		,t.logo
		,t.pic
		,t.adv_pic
		,t.slogan
		,t.corporation
		,t.id_no
		,t.province
		,t.city
		,t.area
		,t.address
		,t.longitude
		,t.latitude
		,t.description
		,t.scale
		,t.registered_capital
		,t.regtime
		,t.gz_num
		,t.mobile
		,t.email
		,t.qq
		,t.we_chat
		,t.location
		,t.order_no
		,t.is_default
		,t.price_range
		,t.status
		,t.updater
		,t.update_datetime
		,t.remark
		,t.user_id
		FROM
		tcp_company t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_company_count" parameterType="company"
		resultType="java.lang.Long">
		SELECT count(1) FROM tcp_company t
		<include refid="where_condition" />
	</select>

	<insert id="insert_company" parameterType="company">
		INSERT INTO
		tcp_company(
		code
		,type
		,name
		,gsyyzzh
		,corporation
		,id_no
		,mobile
		,location
		,order_no
		,status
		,updater
		,update_datetime
		,user_id
		)
		VALUES(
		#{code}
		,#{type}
		,#{name}
		,#{gsyyzzh}
		,#{corporation}
		,#{idNo}
		,#{mobile}
		,#{location}
		,#{orderNo}
		,#{status}
		,#{updater}
		,#{updateDatetime}
		,#{userId}
		)
	</insert>

	<update id="update_company" parameterType="company">
		UPDATE tcp_company
		SET
		name = #{name}
		,logo = #{logo}
		,pic = #{pic}
		,adv_pic = #{advPic}
		,slogan = #{slogan}
		,province = #{province}
		,city = #{city}
		,area = #{area}
		,address = #{address}
		,longitude = #{longitude}
		,latitude = #{latitude}
		,description = #{description}
		,scale = #{scale}
		,registered_capital = #{registeredCapital}
		,regtime = #{regtime}
		,mobile = #{mobile}
		,location = #{location}
		,order_no = #{orderNo}
		,status = #{status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		WHERE code = #{code}
	</update>

	<update id="update_hot_location" parameterType="company">
		UPDATE tcp_company
		SET
		location = #{location}
		,order_no = #{orderNo}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		WHERE code = #{code}
	</update>

	<update id="update_price_range" parameterType="company">
		UPDATE tcp_company
		SET
		price_range = #{priceRange}
		WHERE code = #{code}
	</update>
	
	<update id="update_approvel" parameterType="company">
		UPDATE tcp_company
		SET
		status = #{status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
</mapper>