<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xnjr.moom.dao.IContractTemplateDAO">
	<resultMap id="contractTemplate_DB_Result" type="contractTemplate">
		<result column="id" property="id" />
		<result column="title" property="title" />
		<result column="content" property="content" />
		<result column="type" property="type" />
		<result column="status" property="status" />
		
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="id != null">
				AND t.id = #{id}
			</if>	
			<if test="title != null and title != '' ">
				AND t.title = #{title}
			</if>
			<if test="type != null and type != '' ">
				AND t.type = #{type}
			</if>	
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			<if test="updater != null and updater != '' ">
				AND t.updater = #{updater}
			</if>
		</trim>
	</sql>
	<select id="select_contractTemplate" parameterType="contractTemplate" resultMap="contractTemplate_DB_Result">
		SELECT
		id
		,title
		,content
		,type
		,status
		
		,updater
		,update_datetime
		,remark
		FROM tsys_contract_template t 
		<include refid="where_condition" />
		ORDER BY t.id
	</select>

	<select id="select_contractTemplate_count" parameterType="contractTemplate" resultType="java.lang.Long">
		SELECT count(1) FROM tsys_contract_template t 
		<include refid="where_condition" />
	</select>
	
	<insert id="insert_contractTemplate" parameterType="contractTemplate" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO tsys_contract_template(
		id
		,title
		,content
		,type
		,status
		
		,updater
		,update_datetime
		,remark
		)
		VALUES(
		#{id}
		,#{title}
		,#{content}
		,#{type}
		,#{status}
		
		,#{updater}
		,#{updateDatetime}
		,#{remark}
		)
	</insert>

	<delete id="delete_contractTemplate" parameterType="contractTemplate">
		DELETE FROM tsys_contract_template
		WHERE
		id = #{id}
	</delete>

	<update id="update_contractTemplate" parameterType="contractTemplate">
		UPDATE tsys_contract_template SET
		title = #{title}
		,content = #{content}
		,type = #{type}
		,status = #{status}
		
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark=#{remark}
		WHERE id = #{id}
	</update>
</mapper>
