<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xnjr.moom.dao.IContractDAO">
	<resultMap id="contract_DB_Result" type="contract">
		<result column="code" property="code" />
		<result column="company_code" property="companyCode" />
		<result column="subject_code" property="subjectCode" />
		<result column="content" property="content" />
		
		<result column="type" property="type" />
		<result column="create_datetime" property="createDatetime" />
		<result column="remark" property="remark" />
		<result column="status" property="status" />
		<result column="end_datetime" property="endDatetime" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="companyCode != null and companyCode != '' ">
				AND t.company_code = #{companyCode}
			</if>
			<if test="subjectCode != null and subjectCode != '' ">
				AND t.subject_code = #{subjectCode}
			</if>
			<if test="type != null and type != '' ">
				AND t.type = #{type}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
		</trim>
	</sql>
	<select id="select_contract" parameterType="contract" resultMap="contract_DB_Result">
		SELECT
		code
		,company_code
		,subject_code
		,content
		
		,type
		,create_datetime
		,remark
		,status
		,end_datetime
		FROM
		tmo_contract t 
		<include refid="where_condition" />
		ORDER BY t.code DESC
	</select>

	<select id="select_contract_count" parameterType="contract" resultType="java.lang.Long">
		SELECT count(1) FROM tmo_contract t 
		<include refid="where_condition" />
	</select>
	
	<insert id="insert_contract" parameterType="contract">
		INSERT INTO tmo_contract(
		code
		,company_code
		,subject_code
		,content
		,type
		
		,create_datetime
		,remark
		,status
		)
		VALUES(
		#{code}
		,#{companyCode}
		,#{subjectCode}
		,#{content}
		,#{type}
		
		,#{createDatetime}
		,#{remark}
		,#{status}
		)
	</insert>

	<update id="update_stopContract" parameterType="contract">
		UPDATE tmo_contract SET
		status = #{status}
		,end_datetime = #{endDatetime}
		,remark=#{remark}
		WHERE code = #{code}
	</update>
</mapper>
