<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xnjr.moom.dao.IFDAFJourDAO">
	<resultMap id="fdAfJour_DB_Result" type="fdAfJour">
		<result column="afj_no" property="afjNo" />
		<result column="biz_type" property="bizType" />		
		<result column="ref_no" property="refNo" />
		<result column="trans_amount" property="transAmount" />
		<result column="pre_amount" property="preAmount" />	
			
		<result column="post_amount" property="postAmount" />		
		<result column="remark" property="remark" />		
		<result column="create_datetime" property="createDatetime" />
		<result column="account_number" property="accountNumber" />				
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">	
			<if test="afjNo != null and afjNo != '' ">
				AND t.afj_no = #{afjNo}
			</if>			
			<if test="bizType != null and bizType != '' ">
				AND t.biz_type = #{bizType}
			</if>	
			<if test="refNo != null and refNo != '' ">
				AND t.ref_no = #{refNo}
			</if>
			<if test="accountNumber != null and accountNumber != '' ">
				AND t.account_number = #{accountNumber}
			</if>	
			<if test="createDatetimeStart != null and createDatetimeStart != '' ">
				<![CDATA[AND t.create_datetime >= #{createDatetimeStart}]]>
			</if>
			<if test="createDatetimeEnd != null and createDatetimeEnd != '' ">
				<![CDATA[AND t.create_datetime <= #{createDatetimeEnd}]]>
			</if>		
		</trim>
	</sql>
	<select id="select_fdAfJour" parameterType="fdAfJour" resultMap="fdAfJour_DB_Result">
		SELECT 
		afj_no
		,biz_type		
		,ref_no
		,trans_amount
		,pre_amount
		
		,post_amount			
		,remark	
		,create_datetime
		,account_number	
		FROM
		tfd_account_frozen_jour t
		<include refid="where_condition"/>
		ORDER BY t.afj_no DESC
	</select>

	<select id="select_fdAfJour_count" parameterType="fdAfJour" resultType="java.lang.Long">
		SELECT count(1) FROM tfd_account_frozen_jour t
		<include refid="where_condition"/>
	</select>

	<insert id="insert_fdAfJour" parameterType="fdAfJour">
		INSERT INTO tfd_account_frozen_jour(
		afj_no
		,biz_type		
		,ref_no
		,trans_amount
		,pre_amount
		
		,post_amount			
		,remark	
		,create_datetime
		,account_number			
		)
		VALUES(
		#{afjNo}
		,#{bizType}		
		,#{refNo}
		,#{transAmount}
		,#{preAmount}	
		
		,#{postAmount}		
		,#{remark}	
		,#{createDatetime}
		,#{accountNumber}		
		)
	</insert>
</mapper>
