<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xnjr.moom.dao.IFDCompanyDAO">
	<resultMap id="fdCompany_DB_Result" type="fdCompany">
		<result column="code" property="code" />
		<result column="name" property="name" />
		<result column="gsyyzz_no" property="gsyyzzNo" />
		<result column="id_kind" property="idKind" />		
		<result column="id_no" property="idNo" />
		
		<result column="real_name" property="realName" />	
		<result column="currency" property="currency" />
		<result column="capital" property="capital" />
		<result column="province" property="province" />
		<result column="city" property="city" />
		
		<result column="address" property="address" />
		<result column="gsyyzz_picture" property="gsyyzzPicture" />		
		<result column="zzjgdmz_picture" property="zzjgdmzPicture" />
		<result column="swdjz_Picture" property="swdjzPicture" />
		<result column="dzz_picture" property="dzzPicture" />
		
		<result column="fr_picture" property="frPicture" />
		<result column="other_picture" property="otherPicture" />
		<result column="kyc_user" property="kycUser" />
		<result column="kyc_datetime" property="kycDatetime" />
		<result column="kyc_note" property="kycNote" />
		
		<result column="serve_list" property="serveList" />
		<result column="quote_list" property="quoteList" />
		<result column="level" property="level" />	
		<result column="status" property="status" />
		<result column="remark" property="remark" />		
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">			
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="name != null and name != '' ">
				AND t.name = #{name}
			</if>
			<if test="gsyyzzNo != null and gsyyzzNo != '' ">
				AND t.gsyyzz_no = #{gsyyzzNo}
			</if>	
			<if test="idKind != null and idKind != '' ">
				AND t.id_kind = #{idKind}
			</if>	
			<if test="idNo != null and idNo != '' ">
				AND t.id_no = #{idNo}
			</if>
			<if test="realName != null and realName != '' ">
				AND t.real_name = #{realName}
			</if>
			<if test="currency != null and currency != '' ">
				AND t.currency = #{currency}
			</if>
			<if test="capital != null and capital != '' ">
				AND t.capital = #{capital}
			</if>
			<if test="province != null and province != '' ">
				AND t.province = #{province}
			</if>
			<if test="city != null and city != '' ">
				AND t.city = #{city}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			<if test="kycDatetimeStart != null and kycDatetimeStart != '' ">
				<![CDATA[AND t.kyc_datetime >= #{kycDatetimeStart}]]>
			</if>
			<if test="kycDatetimeEnd != null and kycDatetimeEnd != '' ">
				<![CDATA[AND t.kyc_datetime <= #{kycDatetimeEnd}]]>
			</if>
		</trim>
	</sql>
	<select id="select_fdCompany" parameterType="fdCompany" resultMap="fdCompany_DB_Result">
		SELECT 
		t.code
		,t.name
		,t.gsyyzz_no
		,t.id_kind	
		,t.id_no	
			
		,t.real_name
		,t.currency
		,t.capital
		,t.province
		,t.city
		
		,t.address	
		,t.gsyyzz_picture
		,t.zzjgdmz_picture
		,t.swdjz_picture
		,t.dzz_picture
		
		,t.fr_picture
		,t.other_picture
		,t.kyc_user
		,t.kyc_datetime
		,t.kyc_note
		
		,t.serve_list
	    ,t.quote_list
	    ,t.level
		,t.status
		,t.remark	
		FROM
		tfd_company t 
		<include refid="where_condition"/>
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_fdCompany_count" parameterType="fdCompany" resultType="java.lang.Long">
		SELECT count(1) FROM tfd_company t 
		<include refid="where_condition"/>
	</select>

	<insert id="insert_fdCompany" parameterType="fdCompany">
		INSERT INTO tfd_company(
		code
		,name
		,gsyyzz_no
		,id_kind	
		,id_no	
			
		,real_name
		,currency
		,capital
		,province
		,city
		
		,address	
		,status
		,remark	
		)
		VALUES(
		#{code}
		,#{name}
		,#{gsyyzzNo}
		,#{idKind}
		,#{idNo}	
			
		,#{realName}
		,#{currency}
		,#{capital}
		,#{province}
		,#{city}
		
		,#{address}
		,#{status}
		,#{remark}
		)
	</insert> 
	
	<update id="update_fdCompanyPicture" parameterType="fdCompany">
		UPDATE tfd_company set
		gsyyzz_picture=#{gsyyzzPicture}
		,zzjgdmz_picture=#{zzjgdmzPicture}
		,swdjz_picture=#{swdjzPicture}
		,dzz_picture=#{dzzPicture}
		,fr_picture=#{frPicture}
		
		,other_picture=#{otherPicture}
		,status=#{status}
		WHERE
		code = #{code}
	</update>
	
	<update id="update_fdCompany" parameterType="fdCompany">
		UPDATE tfd_company set
		name=#{name}
		,gsyyzz_no=#{gsyyzzNo}
		,id_kind=#{idKind}	
		,id_no=#{idNo}	
		
		,real_name=#{realName}
		,currency=#{currency}
		,capital=#{capital}
		,province=#{province}
		,city=#{city}
		
		,address=#{address}	
		,status=#{status}
		,remark=#{remark}	
		WHERE
		code = #{code}
	</update>
	
	<update id="update_fdCompanyKYC" parameterType="fdCompany">
		UPDATE tfd_company set
		kyc_user=#{kycUser}
		,kyc_datetime=#{kycDatetime}
		,status=#{status}
		,kyc_note=#{kycNote}
		,serve_list = #{serveList}
		,quote_list = #{quoteList}
		,level = #{level}
		WHERE
		code = #{code}
	</update>
</mapper>
