<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xnjr.moom.dao.IFDCompanyCardDAO">
	<resultMap id="fdCompanyCard_DB_Result" type="fdCompanyCard">
		<result column="id" property="id" />
		<result column="company_code" property="companyCode" />
		<result column="company_name" property="companyName" />
		<result column="bank_code" property="bankCode" />
		<result column="bank_name" property="bankName" />
		
		<result column="subbranch" property="subbranch" />
		<result column="card_no" property="cardNo" />
		<result column="status" property="status" />
		<result column="create_datetime" property="createDatetime" />
		<result column="update_datetime" property="updateDatetime" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="id != null and id != '' ">
				AND t.id = #{id}
			</if>
			<if test="companyCode != null and companyCode != '' ">
				AND t.company_code = #{companyCode}
			</if>
			<if test="bankCode != null and bankCode != '' ">
				AND t.bank_code = #{bankCode}
			</if>
			<if test="cardNo != null and cardNo != '' ">
				AND t.card_no = #{cardNo}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
		</trim>
	</sql>
	
	<select id="select_fdCompanyCard" parameterType="fdCompanyCard" resultMap="fdCompanyCard_DB_Result">
		SELECT
		id
		,company_code
		,company_name
		,bank_code
		,bank_name		
		,subbranch
		,card_no
		,status
		,create_datetime
		,update_datetime
		FROM
		tfd_company_card t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				#{order}
			</if>
		</trim>
	</select>
	
	<select id="select_fdCompanyCard_count" parameterType="fdCompanyCard"
		resultType="java.lang.Long">
		SELECT count(1) FROM tfd_company_card t
		<include refid="where_condition" />
	</select>
	
	<insert id="insert_fdCompanyCard" parameterType="fdCompanyCard" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO
		tfd_company_card(
		id
		,company_code
		,company_name
		,bank_code
		,bank_name	
			
		,subbranch
		,card_no
		,status
		,create_datetime
		,update_datetime
		)
		VALUES(
		#{id}
		,#{companyCode}
		,#{companyName}
		,#{bankCode}
		,#{bankName}
		
		,#{subbranch}
		,#{cardNo}
		,#{status}
		,#{createDatetime}
		,#{updateDatetime}
		)
	</insert>
	
	<update id="update_fdCompanyCard" parameterType="fdCompanyCard">
		UPDATE tfd_company_card
		SET
		bank_code = #{bankCode}
		,bank_name = #{bankName}
		,subbranch = #{subbranch}
		,card_no = #{cardNo}
		WHERE id = #{id}
	</update>
	
	<delete id="delete_fdCompanyCard" parameterType="fdCompanyCard">
		DELETE FROM
		tfd_company_card
		WHERE
		id = #{id}
	</delete>
</mapper>