<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xnjr.moom.dao.IFDUserIdentifyDAO">
	<resultMap id="fdUserIdentify_DB_Result" type="fdUserIdentify">
		<result column="user_id" property="userId" />
		<result column="id_kind" property="idKind" />
		<result column="id_no" property="idNo" />	
		<result column="real_name" property="realName" />	
		<result column="error_code" property="errorCode" />
		
		<result column="error_info" property="errorInfo" />
		<result column="create_datetime" property="createDatetime" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">			
			<if test="userId != null and userId != '' ">
				AND t.user_id = #{userId}
			</if>
			<if test="idKind != null and idKind != '' ">
				AND t.id_kind = #{idKind}
			</if>
			<if test="idNo != null and idNo != '' ">
				AND t.id_no = #{idNo}
			</if>
			<if test="realName != null and realName != '' ">
				AND t.real_name = #{realName}
			</if>
			<if test="errorCode != null and errorCode != '' ">
				AND t.error_code = #{errorCode}
			</if>
			<if test="createDatetimeStart != null and createDatetimeStart != '' ">
				<![CDATA[AND t.create_datetime >= #{createDatetimeStart}]]>
			</if>
			<if test="createDatetimeEnd != null and createDatetimeEnd != '' ">
				<![CDATA[AND t.create_datetime <= #{createDatetimeEnd}]]>
			</if>	
		</trim>
	</sql>
	<select id="select_fdUserIdentify" parameterType="fdUserIdentify" resultMap="fdUserIdentify_DB_Result">
		SELECT 
		user_id
		,real_name
		,id_kind
		,id_no
		,error_code
		
		,error_info
		,create_datetime
		FROM
		tfd_user_identify_log t
		<include refid="where_condition"/>
		ORDER BY t.create_datetime DESC	
	</select>

	<select id="select_fdUserIdentify_count" parameterType="fdUserIdentify" resultType="java.lang.Long">
		SELECT count(1) FROM tfd_user_identify_log t
		<include refid="where_condition"/>
	</select>

	<insert id="insert_fdUserIdentify" parameterType="fdUserIdentify">
		INSERT INTO tfd_user_identify_log(
		user_id
		,real_name
		,id_kind
		,id_no
		,error_code
		
		,error_info
		,create_datetime
		)
		VALUES(
		#{userId}
		,#{realName}
		,#{idKind}
		,#{idNo}
		,#{errorCode}
		
		,#{errorInfo}
		,#{createDatetime}
		)
	</insert>
</mapper>
