<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xnjr.moom.dao.IFDUserLoginLogDAO">
	<resultMap id="fdUserLoginLog_DB_Result" type="fdUserLoginLog">
		<result column="user_id" property="userId" />
		<result column="login_datetime" property="loginDatetime" />
		<result column="login_ip" property="loginIp" />
		<result column="is_success" property="isSuccess" />			
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">			
			<if test="userId != null and userId != '' ">
				AND t.user_id = #{userId}
			</if>
			<if test="loginIp != null and loginIp != '' ">
				AND t.login_ip = #{loginIp}
			</if>	
			<if test="isSuccess != null and isSuccess != '' ">
				AND t.is_success = #{isSuccess}
			</if>	
			<if test="loginDatetimeStart != null and loginDatetimeStart != '' ">
				<![CDATA[AND t.login_datetime >= #{loginDatetimeStart}]]>
			</if>
			<if test="loginDatetimeEnd != null and loginDatetimeEnd != '' ">
				<![CDATA[AND t.login_datetime <= #{loginDatetimeEnd}]]>
			</if>	
		</trim>
	</sql>
	<select id="select_fdUserLoginLog" parameterType="fdUserLoginLog" resultMap="fdUserLoginLog_DB_Result">
		SELECT 
		user_id
		,login_datetime
		,login_ip
		,is_success		
		FROM
		tfd_user_login_log t
		<include refid="where_condition"/>
		ORDER BY t.login_datetime DESC	
	</select>
	
	<select id="select_latestFdUserLoginLog" parameterType="fdUserLoginLog" resultMap="fdUserLoginLog_DB_Result">
		SELECT 
		user_id
		,login_datetime
		,login_ip
		,is_success		
		FROM
		tfd_user_login_log t
		WHERE 
		t.user_id = #{userId}
		ORDER BY t.login_datetime DESC 
		LIMIT 1,1
	</select>

	<select id="select_fdUserLoginLog_count" parameterType="fdUserLoginLog" resultType="java.lang.Long">
		SELECT count(1) FROM tfd_user_login_log t
		<include refid="where_condition"/>
	</select>

	<insert id="insert_fdUserLoginLog" parameterType="fdUserLoginLog">
		INSERT INTO tfd_user_login_log(
		user_id
		,login_datetime
		,login_ip
		,is_success
		)
		VALUES(
		#{userId}
		,#{loginDatetime}
		,#{loginIp}
		,#{isSuccess}
		)
	</insert>
	
</mapper>
