<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xnjr.moom.dao.IFDUserCompanyDAO">
	<resultMap id="fdUserCompany_DB_Result" type="fdUserCompany">
		<result column="id" property="id" />
		<result column="user_id" property="userId" />
		<result column="real_name" property="realName" />
		<result column="company_code" property="companyCode" />
		<result column="company_name" property="companyName" />
		<result column="sqgh_picture" property="sqghPicture" />
		<result column="status" property="status" />
		<result column="remark" property="remark" />
		<result column="kyc_user" property="kycUser" />
		<result column="kyc_datetime" property="kycDatetime" />
		<result column="kyc_note" property="kycNote" />
	</resultMap>
	
	<resultMap id="fdCompany_DB_Result" type="fdCompany">
		<result column="code" property="code" />
		<result column="name" property="name" />
		<result column="gsyyzz_no" property="gsyyzzNo" />
		<result column="id_kind" property="idKind" />		
		<result column="id_no" property="idNo" />
		
		<result column="real_name" property="realName" />		
		<result column="currency" property="currency" />
		<result column="capital" property="capital" />
		<result column="province" property="province" />
		<result column="city" property="city" />
		
		<result column="address" property="address" />
		<result column="gsyyzz_picture" property="gsyyzzPicture" />		
		<result column="zzjgdmz_picture" property="zzjgdmzPicture" />
		<result column="swdjz_Picture" property="swdjzPicture" />
		<result column="dzz_picture" property="dzzPicture" />
		
		<result column="fr_picture" property="frPicture" />
		<result column="other_picture" property="otherPicture" />
		<result column="sqgh_picture" property="sqghPicture" />
		<result column="kyc_user" property="kycUser" />
		<result column="kyc_datetime" property="kycDatetime" />
		
		<result column="kyc_note" property="kycNote" />
		<result column="serve_list" property="serveList" />
		<result column="quote_list" property="quoteList" />
		<result column="level" property="level" />	
		<result column="status" property="status" />
		
		<result column="remark" property="remark" />		
	</resultMap>
	
	<resultMap id="fdUser_DB_Result" type="fdUser">
		<result column="user_id" property="userId" />
		<result column="mobile" property="mobile" />
		<result column="login_pwd_strength" property="loginPwdStrength" />		
		<result column="user_kind" property="userKind" />
		
		<result column="user_referee" property="userReferee" />
		<result column="id_kind" property="idKind" />
		<result column="id_no" property="idNo" />
		<result column="real_name" property="realName" />
		<result column="trade_pwd_strength" property="tradePwdStrength" />
		
		<result column="create_datetime" property="createDatetime" />
		<result column="remark" property="remark" />
		<result column="status" property="status" />	
		<result column="serve_list" property="serveList" />
		<result column="quote_list" property="quoteList" />
		
		<result column="level" property="level" />		
		<result column="individual_code" property="individualCode" />		
	</resultMap>
	
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="id != null and id != '' ">
				AND t.id = #{id}
			</if>
			<if test="userId != null and userId != '' ">
				AND t.user_id = #{userId}
			</if>
			<if test="realName != null and realName != '' ">
				AND tu.real_name = #{realName}
			</if>
			<if test="companyCode != null and companyCode != '' ">
				AND t.company_code = #{companyCode}
			</if>
			<if test="companyName != null and companyName != '' ">
				AND tc.name = #{companyName}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			<if test="kycUser != null and kycUser != '' ">
				AND t.kyc_user = #{kycUser}
			</if>
		</trim>
	</sql>
	<select id="select_fdUserCompany" parameterType="fdUserCompany" resultMap="fdUserCompany_DB_Result">
		SELECT
		t.id
		,t.user_id
		,tu.real_name
		,t.company_code
		,tc.name as company_name
		,t.sqgh_picture
		,t.status
		,t.kyc_user
		,t.kyc_datetime
		,t.kyc_note
		,t.remark
		FROM
		tfd_user_company t inner join tfd_user tu on t.user_id = tu.user_id inner join tfd_company tc on t.company_code = tc.code
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				#{order}
			</if>
		</trim>
	</select>

	<select id="select_fdUserCompany_count" parameterType="fdUserCompany"
		resultType="java.lang.Long">
		SELECT count(1) FROM tfd_user_company t inner join tfd_user tu on t.user_id = tu.user_id inner join tfd_company tc on t.company_code = tc.code
		<include refid="where_condition" />
	</select>

	<insert id="insert_fdUserCompany" parameterType="fdUserCompany">
		INSERT INTO
		tfd_user_company(
		user_id
		,company_code
		,sqgh_picture
		,status
		,remark
		)
		VALUES(
		#{userId}
		,#{companyCode}
		,#{sqghPicture}
		,#{status}
		,#{remark}
		)
	</insert>

	<delete id="delete_fdUserCompany" parameterType="fdUserCompany">
		DELETE FROM
		tfd_user_company
		WHERE
		user_id= #{userId}
		AND
		company_code= #{companyCode}
	</delete>
	
	<update id="update_fdUserCompany" parameterType="fdUserCompany">
		UPDATE tfd_user_company SET
		sqgh_picture = #{sqghPicture}
		,status = #{status}
		WHERE 
		user_id = #{userId} 
		AND 
		company_code = #{companyCode}
	</update>
	
	<update id="update_kycFdUserCompany" parameterType="fdUserCompany">
		UPDATE tfd_user_company SET
		status = #{status}
		,kyc_user = #{kycUser}
		,kyc_datetime = #{kycDatetime}
		,kyc_note = #{kycNote}
		WHERE user_id = #{userId} AND company_code = #{companyCode}
	</update>
	
	<select id="select_fdCompanyList" parameterType="fdUserCompany" resultMap="fdCompany_DB_Result">
		SELECT 
		code
		,name
		,gsyyzz_no
		,id_kind	
		,id_no
			
		,real_name
		,currency
		,capital
		,province
		,city
		
		,address	
		,gsyyzz_picture
		,zzjgdmz_picture
		,swdjz_picture
		,dzz_picture
		
		,fr_picture
		,other_picture
		
		,tuc.sqgh_picture
		,tuc.kyc_user
		,tuc.kyc_datetime
		,tuc.kyc_note
		,tuc.status
		,tc.serve_list
		,tc.quote_list
		,tc.level
		FROM
		tfd_user_company tuc right join tfd_company tc on tuc.company_code=tc.code
		WHERE
		tuc.user_id = #{userId}
		<if test="status != null and status != '' ">
			AND tuc.status = #{status}
		</if>
	</select>
	
	<select id="select_fdCompanyList_count" parameterType="fdUserCompany"
		resultType="java.lang.Long">
		SELECT count(1) FROM
		tfd_user_company tuc right join tfd_company tc on tuc.company_code=tc.code
		WHERE
		tuc.user_id = #{userId}
		<if test="status != null and status != '' ">
			AND tuc.status = #{status}
		</if>
	</select>
	
	<select id="select_fdUserList" parameterType="fdUserCompany" resultMap="fdUser_DB_Result">
		SELECT 
		tu.user_id user_id
		,mobile
		,login_pwd_strength
		,user_kind	
		,user_referee
		
		,id_kind
		,id_no
		,real_name
		,trade_pwd_strength
		,create_datetime
		
		,tu.remark
		,tu.status		
		,serve_list
		,quote_list
		,level
		FROM
		tfd_user_company tuc right join tfd_user tu on tuc.user_id=tu.user_id
		WHERE
		tuc.company_code = #{companyCode}
		<if test="status != null and status != '' ">
			AND tuc.status = #{status}
		</if>
	</select>
</mapper>
