<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xnjr.moom.dao.IGSAJourDAO">
	<resultMap id="gsAccountJour_DB_Result" type="gsAccountJour">
		<result column="aj_no" property="ajNo" />
		<result column="status" property="status" />
		<result column="biz_type" property="bizType" />		
		<result column="ref_no" property="refNo" />		
		<result column="trans_amount" property="transAmount" />
		
		<result column="pre_amount" property="preAmount" />		
		<result column="post_amount" property="postAmount" />		
		<result column="remark" property="remark" />	
		<result column="create_datetime" property="createDatetime" />	
		<result column="work_date" property="workDate" />	
		
		<result column="check_user" property="checkUser" />			
		<result column="check_datetime" property="checkDatetime" />	
		<result column="account_number" property="accountNumber" />				
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">	
			<if test="ajNo != null and ajNo != '' ">
				AND t.aj_no = #{ajNo}
			</if>	
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>			
			<if test="bizType != null and bizType != '' ">
				AND t.biz_type = #{bizType}
			</if>	
			<if test="refNo != null and refNo != '' ">
				AND t.ref_no = #{refNo}
			</if>
			<if test="workDate != null and workDate != '' ">
				AND t.work_date = #{workDate}
			</if>		
			<if test="checkUser != null and checkUser != '' ">
				AND t.check_user = #{checkUser}
			</if>			
			<if test="accountNumber != null and accountNumber != '' ">
				AND t.account_number = #{accountNumber}
			</if>		
			<if test="createDatetimeStart != null and createDatetimeStart != '' ">
				<![CDATA[AND t.create_datetime >= #{createDatetimeStart}]]>
			</if>
			<if test="createDatetimeEnd != null and createDatetimeEnd != '' ">
				<![CDATA[AND t.create_datetime <= #{createDatetimeEnd}]]>
			</if>	
		</trim>
	</sql>
	<select id="select_gsAccountJour" parameterType="gsAccountJour" resultMap="gsAccountJour_DB_Result">
		SELECT 
		aj_no
		,status
		,biz_type
		,ref_no
		,trans_amount
		
		,pre_amount	
		,post_amount	
		,remark		
		,create_datetime
		,work_date
		
		,check_user		
		,check_datetime
		,account_number
		FROM
		tgs_account_jour t
		<include refid="where_condition"/>
		ORDER BY t.aj_no DESC	
	</select>

	<select id="select_gsAccountJour_count" parameterType="gsAccountJour" resultType="java.lang.Long">
		SELECT count(1) FROM tgs_account_jour t
		<include refid="where_condition"/>
	</select>

	<insert id="insert_gsAccountJour" parameterType="gsAccountJour">
		INSERT INTO tgs_account_jour(
		aj_no
		,status
		,biz_type
		,ref_no
		,trans_amount
		
		,pre_amount	
		,post_amount	
		,remark	
		,create_datetime
		,work_date
				
		,account_number		
		)
		VALUES(
		#{ajNo}
		,#{status}	
		,#{bizType}	
		,#{refNo}
		,#{transAmount}
		
		,#{preAmount}	
		,#{postAmount}
		,#{remark}	
		,#{createDatetime}	
		,#{workDate}	
		
		,#{accountNumber}		
		)
	</insert>
	
	<update id="update_gsAccountCheck" parameterType="gsAccountJour">
		UPDATE tgs_account_jour
		SET
		status= #{status}
		,check_user= #{checkUser}
		,check_datetime= #{checkDatetime}
		,remark= #{remark}
		WHERE
		aj_no = #{ajNo}			
	</update>
</mapper>
