<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xnjr.moom.dao.IGSAccountDAO">
	<resultMap id="gsAccount_DB_Result" type="gsAccount">
		<result column="account_number" property="accountNumber" />
		<result column="status" property="status" />
		<result column="amount" property="amount" />
		<result column="frozen_amount" property="frozenAmount" />
		<result column="currency" property="currency" />		

		<result column="md5" property="md5" />
		<result column="create_datetime" property="createDatetime" />
		<result column="update_datetime" property="updateDatetime" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">			
			<if test="accountNumber != null and accountNumber != '' ">
				AND t.account_number = #{accountNumber}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>	
			<if test="createDatetimeStart != null and createDatetimeStart != '' ">
				<![CDATA[AND t.create_datetime >= #{createDatetimeStart}]]>
			</if>
			<if test="createDatetimeEnd != null and createDatetimeEnd != '' ">
				<![CDATA[AND t.create_datetime <= #{createDatetimeEnd}]]>
			</if>					
		</trim>
	</sql>
	<select id="select_gsAccount" parameterType="gsAccount" resultMap="gsAccount_DB_Result">
		SELECT 
		account_number
		,status
		,amount
		,frozen_amount
		,currency
		
		,md5
		,create_datetime
		,update_datetime
		FROM
		tgs_account t
		<include refid="where_condition"/>
		ORDER BY t.create_datetime DESC	
	</select>

	<select id="select_gsAccount_count" parameterType="gsAccount" resultType="java.lang.Long">
		SELECT count(1) FROM tgs_account t
		<include refid="where_condition"/>
	</select>

	<insert id="insert_gsAccount" parameterType="gsAccount">
		INSERT INTO tgs_account(
		account_number
		,status
		,amount
		,frozen_amount
		,currency
		
		,md5
		,create_datetime
		)
		VALUES(
		#{accountNumber}
		,#{amount}
		,#{frozenAmount}
		,#{currency}
		,#{status}
		
		,#{md5}
		,#{createDatetime}
		)
	</insert>
	
	<update id="update_gsAccountAmount" parameterType="gsAccount">
		UPDATE tgs_account
		SET
		 amount= #{amount}
		,md5 = #{md5}
		,update_datetime = #{updateDatetime}
		WHERE
		account_number = #{accountNumber}			
	</update>
	
	<update id="update_gsAccountFrozenAmount" parameterType="gsAccount">
		UPDATE tgs_account
		SET
		frozen_amount = #{frozenAmount}
		,update_datetime = #{updateDatetime}
		WHERE
		account_number = #{accountNumber}			
	</update>
	<update id="update_gsAccountStatus" parameterType="gsAccount">
		UPDATE tgs_account
		SET
		 status= #{status}
		,update_datetime = #{updateDatetime}
		WHERE
		account_number = #{accountNumber}		
	</update>
</mapper>
