<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.service.dao.IGsQualifyDAO">
	<resultMap id="gsQualify_DB_Result" type="gsQualify">
		<result column="code" property="code" />
		<result column="company_code" property="companyCode" />
		<result column="qualify_code" property="qualifyCode" />
		<result column="slogan" property="slogan" />
		<result column="status" property="status" />
		<result column="apply_user" property="applyUser" />
		<result column="apply_datetime" property="applyDatetime" />
		<result column="approver" property="approver" />
		<result column="approve_datetime" property="approveDatetime" />
		<result column="approve_note" property="approveNote" />
		<result column="remark" property="remark" />
		<result column="qualify_name" property="qualifyName" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="companyCode != null and companyCode != '' ">
				AND t.company_code = #{companyCode}
			</if>
			<if test="qualifyCode != null and qualifyCode != '' ">
				AND t.qualify_code = #{qualifyCode}
			</if>
			<if test="qualifyType != null and qualifyType != '' ">
				AND tq.type = #{qualifyType}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			<if test="companyName != null and companyName != '' ">
				AND jc.name like "%"#{companyName}#"%"
			</if>
		</trim>
	</sql>
	<select id="select_gsQualify" parameterType="gsQualify" resultMap="gsQualify_DB_Result">
		SELECT
		t.code
		,t.company_code
		,t.qualify_code
		,t.slogan
		,t.status
		,t.apply_user
		,t.apply_datetime
		,t.approver
		,t.approve_datetime
		,t.approve_note
		,t.remark
		,tq.name as qualify_name
		FROM
		tcp_gs_qualify t inner join tcp_company jc on t.company_code = jc.code inner join tcp_qualify tq on tq.code=t.qualify_code
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_gsQualify_count" parameterType="gsQualify"
		resultType="java.lang.Long">
		SELECT count(1) FROM tcp_gs_qualify t inner join tcp_company jc on t.company_code = jc.code inner join tcp_qualify tq on tq.code=t.qualify_code
		<include refid="where_condition" />
	</select>

	<insert id="insert_gsQualify" parameterType="gsQualify">
		INSERT INTO
		tcp_gs_qualify(
		code
		,company_code
		,qualify_code
		,slogan
		,status
		,apply_user
		,apply_datetime
		,approver
		,approve_datetime
		,approve_note
		,remark
		)
		VALUES(
		#{code}
		,#{companyCode}
		,#{qualifyCode}
		,#{slogan}
		,#{status}
		,#{applyUser}
		,#{applyDatetime}
		,#{approver}
		,#{approveDatetime}
		,#{approveNote}
		,#{remark}
		)
	</insert>

	<update id="update_gsQualify" parameterType="gsQualify">
		UPDATE tcp_gs_qualify
		SET
		qualify_code = #{qualifyCode}
		,slogan = #{slogan}
		,status = #{status}
		,apply_user = #{applyUser}
		,apply_datetime = #{applyDatetime}
		WHERE code = #{code}
	</update>

	<update id="update_approvel" parameterType="gsQualify">
		UPDATE tcp_gs_qualify
		SET
		status = #{status}
		,approver = #{approver}
		,approve_datetime = #{approveDatetime}
		,approve_note = #{approveNote}
		,remark = #{remark}
		WHERE code = #{code}
	</update>

</mapper>