<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xnjr.moom.dao.IHLOrderDAO">
	<resultMap id="hlOrder_DB_Result" type="hlOrder">
		<result column="hl_no" property="hlNo" />
		<result column="type" property="type" />
		<result column="status" property="status" />
		<result column="direction" property="direction" />
		<result column="amount" property="amount" />
		
		<result column="updater" property="updater" />	
		<result column="update_datetime" property="updateDatetime" />				
		<result column="remark" property="remark" />
		<result column="account_number" property="accountNumber" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">			
			<if test="hlNo != null and hlNo != '' ">
				AND t.hl_no = #{hlNo}
			</if>
			<if test="type != null and type != '' ">
				AND t.type = #{type}
			</if>	
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>	
			<if test="direction != null and direction != '' ">
				AND t.direction = #{direction}
			</if>
			<if test="updater != null and updater != '' ">
				AND t.updater = #{updater}
			</if>
			<if test="accountNumber != null and accountNumber != '' ">
				AND t.account_number = #{accountNumber}
			</if>		
			<if test="updateDatetimeStart != null and updateDatetimeStart != '' ">
				<![CDATA[AND t.update_datetime >= #{updateDatetimeStart}]]>
			</if>
			<if test="updateDatetimeEnd != null and updateDatetimeEnd != '' ">
				<![CDATA[AND t.update_datetime <= #{updateDatetimeEnd}]]>
			</if>	
		</trim>
	</sql>
	<select id="select_hlOrder" parameterType="hlOrder" resultMap="hlOrder_DB_Result">
		SELECT 
		t.hl_no
		,t.type
		,t.status
		,t.direction
		,t.amount
		
		,t.updater	
		,t.update_datetime
		,t.remark
		,t.account_number
		FROM
		tgs_hlorder t 
		<include refid="where_condition"/>
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_hlOrder_count" parameterType="hlOrder" resultType="java.lang.Long">
		SELECT count(1) FROM tgs_hlorder t 
		<include refid="where_condition"/>
	</select>

	<insert id="insert_hlOrder" parameterType="hlOrder">
		INSERT INTO tgs_hlorder(
		hl_no
		,type
		,status
		,direction
		,amount
		
		,updater
		,update_datetime			
		,remark
		,account_number	
		)
		VALUES(
		#{hlNo}
		,#{type}
		,#{status}
		,#{direction}
		,#{amount}
		
		,#{updater}
		,#{updateDatetime}
		,#{remark}	
		,#{accountNumber}
		)
	</insert>

	<update id="update_approve_order" parameterType="hlOrder">
		UPDATE tgs_hlorder
		SET
		status= #{status}
		,updater= #{updater}
		,update_datetime= #{updateDatetime}		
		,remark= #{remark}
		WHERE
		hl_no = #{hlNo}			
	</update>
</mapper>
