<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xnjr.mall.dao.IIntegralDAO">
	<resultMap id="integral_DB_Result" type="integral">
		<result column="code" property="code" />
		<result column="user_id" property="userId" />
		<result column="quantity" property="quantity" />
		<result column="price" property="price" />
		<result column="is_approve" property="isApprove" />
		
		<result column="status" property="status" />
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
	</resultMap>
	
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="userId != null and userId != '' ">
				AND t.user_id = #{userId}
			</if>
			<if test="isApprove != null and isApprove != '' ">
				AND t.is_approve = #{isApprove}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
		</trim>
	</sql>
	<select id="select_integral" parameterType="integral" resultMap="integral_DB_Result">
		SELECT
		code
		,user_id
		,quantity
		,price
		,is_approve
		
		,status
		,updater
		,update_datetime
		,remark
		FROM
		tmall_integral t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				${order}
			</if>
		</trim>
	</select>

	<select id="select_integral_count" parameterType="integral"
		resultType="java.lang.Long">
		SELECT count(1) FROM tmall_integral t
		<include refid="where_condition" />
	</select>

	<insert id="insert_integral" parameterType="integral">
		INSERT INTO
		tmall_integral(
		code
		,user_id
		,quantity
		,price
		,is_approve
		
		,status
		,updater
		,update_datetime
		,remark
		)
		VALUES(
		#{code}
		,#{userId}
		,#{quantity}
		,#{price}
		,#{isApprove}
		
		,#{status}
		,#{updater}
		,#{updateDatetime}
		,#{remark}
		)
	</insert>
	
	<update id="update_integralStatus" parameterType="integral">
		UPDATE tmall_integral
		SET
		status = #{status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<delete id="delete_integral" parameterType="integral">
		DELETE FROM
		tmall_integral
		WHERE
		code = #{code}
	</delete>
</mapper>
