<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xnjr.moom.dao.IInvestDAO">
	<resultMap id="invest_DB_Result" type="invest">
		<result column="code" property="code" />
		<result column="status" property="status" />
		<result column="project_code" property="projectCode" />
		<result column="subject_code" property="subjectCode" />
		<result column="user_id" property="userId" />
		
		<result column="real_name" property="realName" />
		<result column="invest_amount" property="investAmount" />
		<result column="invest_datetime" property="investDatetime" />
		<result column="check_datetime" property="checkDatetime" />
		<result column="remark" property="remark" />
	</resultMap>
	
	<!-- 我投资的项目 -->
	<resultMap id="my_invest_subject_DB_Result" type="subject">
	   <result column="code" property="code" />
	   <result column="name" property="name" />
   	   <result column="type" property="type" />
   	   <result column="status" property="status" />
	   <result column="total_amount" property="totalAmount" />
	   
	   <result column="total_principal" property="totalPrincipal" />
	   <result column="total_profit" property="totalProfit" />
	   <result column="serve" property="serve" />
	   <result column="quote" property="quote" />
	   <result column="quote_value1" property="quoteValue1" />
	   
	   <result column="quote_value2" property="quoteValue2" />
	   <result column="level" property="level" />
	   <result column="trader" property="trader" />
	   <result column="trader_name" property="traderName" />
	   <result column="start_datetime" property="startDatetime" />
	   
	   <result column="end_datetime" property="endDatetime" />
	   <result column="remark" property="remark" />
	   <result column="project_code" property="projectCode" />
	</resultMap>
	
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != ''">
				AND t.code = #{code}
			</if>
			<if test="status != null and status != ''">
				<choose>  
		        	<when test="status== '12'">  
		            	AND t.status in (1,2) 
		        	</when> 
		        	<when test="status== '02'">  
		            	AND t.status in (0,2) 
		        	</when>  
		        	<otherwise>  
		              	AND t.status = #{status}
		        	</otherwise>  
	        	</choose>	
			</if>
			<if test="projectCode != null and projectCode != ''">
				AND t.project_code = #{projectCode}
			</if>
			<if test="subjectCode != null and subjectCode != ''">
				AND t.subject_code = #{subjectCode}
			</if>
			<if test="userId != null and userId != ''">
				AND t.user_id = #{userId}
			</if>
			<if test="realName != null and realName != ''">
				AND t.real_name = #{realName}
			</if>
			<if test="investDatetimeStart != null and investDatetimeStart != '' ">
				<![CDATA[AND t.invest_datetime >= #{investDatetimeStart}]]>
			</if>
			<if test="investDatetimeEnd != null and investDatetimeEnd != '' ">
				<![CDATA[AND t.invest_datetime <= #{investDatetimeEnd}]]>
			</if>
			<if test="checkDatetimeStart != null and checkDatetimeStart != '' ">
				<![CDATA[AND t.check_datetime >= #{checkDatetimeStart}]]>
			</if>
			<if test="checkDatetimeEnd != null and checkDatetimeEnd != '' ">
				<![CDATA[AND t.check_datetime <= #{checkDatetimeEnd}]]>
			</if>
		</trim>
	</sql>
	<select id="select_invest" parameterType="invest" resultMap="invest_DB_Result">
		SELECT
		code
		,status
		,project_code
		,user_id
		,real_name
		
		,invest_amount
		,invest_datetime
		,check_datetime
		,subject_code
		,remark
		FROM
		tmo_invest t 
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				${order}
			</if>
		</trim>
	</select>
	
	<select id="select_my_invest_subject" parameterType="invest" resultMap="my_invest_subject_DB_Result">
		SELECT DISTINCT
		  ts.code
		  ,ts.status
		  ,ts.total_amount
		  ,ts.total_principal
		  ,ts.total_profit
		  
		  ,ts.name
		  ,ts.serve
		  ,ts.quote
		  ,ts.quote_value1
		  ,ts.quote_value2
		  
		  ,ts.level
		  ,ts.trader
		  ,ts.trader_name
		  ,ts.start_datetime
		  ,ts.end_datetime
		  
		  ,ts.remark
		  ,ts.project_code
		FROM
		tmo_invest t inner join tmo_subject ts on t.subject_code = ts.code
		<trim prefix="WHERE" prefixOverrides="AND | OR">
		    <if test="userId != null and userId != ''">
				AND t.user_id = #{userId}
			</if>
			<if test="status != null and status != ''">
				AND ts.status = #{status}
			</if>
		</trim>
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				${order}
			</if>
		</trim>
	</select>
	
	<select id="select_my_invest_count" parameterType="invest" resultType="java.lang.Long">
		SELECT count(1) 
		FROM 
		tmo_invest t inner join tmo_subject ts on t.subject_code = ts.code
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="userId != null and userId != ''">
				AND t.user_id = #{userId}
			</if>
			<if test="status != null and status != ''">
				AND ts.status = #{status}
			</if>
		</trim>
	</select>
	
	<select id="select_invest_count" parameterType="invest" resultType="java.lang.Long">
		SELECT count(1) FROM tmo_invest t
		<include refid="where_condition" />
	</select>
	
	<select id="select_total_amount" parameterType="invest" resultType="java.lang.Long">
		SELECT sum(t.invest_amount) FROM tmo_invest t
		Where t.project_code = #{projectCode}
		<if test="status != null and status != ''">
				AND t.status = #{status}
		</if>
	</select>
	
	<insert id="insert_invest" parameterType="invest">
		INSERT INTO tmo_invest(
		code
		,status
		,project_code
		,user_id
		,real_name
	
		,invest_amount
		,invest_datetime
		)
		VALUES(
		#{code}
		,#{status}
		,#{projectCode}
		,#{userId}
		,#{realName}
		
		,#{investAmount}
		,#{investDatetime}
		)
	</insert>
	<update id="update_cancelInvest" parameterType="invest">
		UPDATE tmo_invest SET
		status = #{status}
		,check_datetime = #{checkDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_confirmInvest" parameterType="invest">
		UPDATE tmo_invest SET
		status = #{status}
		,check_datetime = #{checkDatetime}
		,remark= #{remark}
		,invest_amount = #{investAmount}
		,subject_code= #{subjectCode}
		WHERE code = #{code}
	</update>
</mapper>
