<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xnjr.moom.dao.IInvestTableDAO">
	<resultMap id="investTable_DB_Result" type="investTable">
		<result column="code" property="code" />
		<result column="amount" property="amount" />
		<result column="lxstart_datetime" property="lxstartDatetime" />
		<result column="create_datetime" property="createDatetime" />
		<result column="invest_code" property="investCode" />
		
		<result column="from_company" property="fromCompany" />
		<result column="from_company_card" property="fromCompanyCard" />
		<result column="to_company" property="toCompany" />
		<result column="to_company_card" property="toCompanyCard" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="investCode != null and investCode != '' ">
				AND t.invest_code = #{investCode}
			</if>
			<if test="fromCompany != null and fromCompany != '' ">
				AND t.from_company = #{fromCompany}
			</if>
			<if test="toCompany != null and toCompany != '' ">
				AND t.to_company = #{toCompany}
			</if>
		</trim>
	</sql>
	
	<select id="select_investTable" parameterType="investTable" resultMap="investTable_DB_Result">
		SELECT
		code
		,amount
		,lxstart_datetime
		,create_datetime
		,invest_code
		
		,from_company
		,from_company_card
		,to_company
		,to_company_card
		FROM
		tmo_invest_table t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			${order}
		</trim>
	</select>
	
	<select id="select_subjectInvestTable" parameterType="investTable" resultMap="investTable_DB_Result">
		SELECT
		t.code
		,t.amount
		,t.lxstart_datetime
		,t.create_datetime
		,t.invest_code
		
		,t.from_company
		,t.from_company_card
		,t.to_company
		,t.to_company_card
		FROM
		tmo_invest_table t,
        tmo_invest ti
        WHERE t.invest_code = ti.code AND ti.subject_code =#{subjectCode}
		<trim prefix="ORDER BY ">
			${order}
		</trim>
	</select>

	<select id="select_investTable_count" parameterType="investTable" resultType="java.lang.Long">
		SELECT count(1) FROM tmo_invest_table t
		<include refid="where_condition" />
	</select>
	
	<select id="select_SumAmount" parameterType="investTable" resultType="java.lang.Long">
		SELECT sum(amount) FROM tmo_invest_table t
		WHERE invest_code = #{investCode}
	</select>

	<insert id="insert_investTable" parameterType="investTable">
		INSERT INTO tmo_invest_table(
		code
		,amount
		,lxstart_datetime
		,create_datetime
		,invest_code
		
		,from_company
		,from_company_card
		,to_company
		,to_company_card
		)
		VALUES(
		#{code}
		,#{amount}
		,#{lxstartDatetime}
		,#{createDatetime}
		,#{investCode}
		
		,#{fromCompany}
		,#{fromCompanyCard}
		,#{toCompany}
		,#{toCompanyCard}
		)
	</insert>

	<update id="update_investTable" parameterType="investTable">
		UPDATE tmo_invest_table SET
		amount = #{amount}
		,lxstart_datetime = #{lxstartDatetime}
		,invest_code = #{investCode}
		
		,from_company = #{fromCompany}
		,from_company_card = #{fromCompanyCard}
		,to_company = #{toCompany}
		,to_company_card = #{toCompanyCard}
		WHERE code = #{code}
	</update>
	
	<delete id="delete_investTable" parameterType="investTable">
		DELETE FROM tmo_invest_table
		WHERE code = #{code}
	</delete>
</mapper>
