<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xnjr.mall.dao.IInvoiceDAO">
	<resultMap id="invoice_DB_Result" type="invoice">
		<result column="code" property="code" />
		<result column="apply_user" property="applyUser" />
		<result column="login_name" property="loginName" />
		<result column="apply_datetime" property="applyDatetime" />
		<result column="apply_note" property="applyNote" />
		<result column="address_code" property="addressCode" />
		<result column="receipt_type" property="receiptType" />
		<result column="receipt_title" property="receiptTitle" />
		<result column="pay_amount" property="payAmount" />
		<result column="status" property="status" />
		<result column="approve_user" property="approveUser" />
		<result column="approve_datetime" property="approveDatetime" />
		<result column="approve_note" property="approveNote" />
		<result column="to_user" property="toUser" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="codeForQuery != null and codeForQuery != '' ">
				AND t.code like "%"#{codeForQuery}"%"
			</if>
			<if test="applyUser != null and applyUser != '' ">
				AND t.apply_user = #{applyUser}
			</if>
			<if test="toUser != null and toUser != '' ">
				AND t.to_user = #{toUser}
			</if>
			<if test="applyDatetimeStart != null and applyDatetimeStart != '' ">
				<![CDATA[AND t.apply_datetime >= #{applyDatetimeStart}]]>
			</if>
			<if test="applyDatetimeEnd != null and applyDatetimeEnd != '' ">
				<![CDATA[AND t.apply_datetime <= #{applyDatetimeEnd}]]>
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			<if test="loginName != null and loginName != '' ">
				AND tu.login_name like "%"#{loginName}"%"
			</if>
			<if test="mobile != null and mobile != '' ">
				AND tu.mobile = #{mobile}
			</if>
			<if test="isSecondPay != null and isSecondPay != '' and isSecondPay == 1 ">
			    <![CDATA[AND t.pay_amount > 0  AND t.pay_amount < (select sum(tim.quantity * tim.sale_price) as total_amount from tmall_invoice_model tim where tim.invoice_code=t.code)]]>
			</if>
		</trim>
	</sql>
	<select id="select_invoice" parameterType="invoice" resultMap="invoice_DB_Result">
		SELECT
		code
		,t.apply_user
		,tu.login_name
		,tu.mobile
		,t.apply_datetime
		,t.apply_note
		,t.address_code
		,t.receipt_type
		,t.receipt_title
		,t.pay_amount
		,t.status
		,t.approve_user
		,t.approve_datetime
		,t.approve_note
		,t.to_user
		FROM
		tmall_invoice t LEFT JOIN ${userDB}.tstd_user tu ON t.apply_user = tu.user_id
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				${order}
			</if>
		</trim>
	</select>

	<select id="select_invoice_count" parameterType="invoice"
		resultType="java.lang.Long">
		SELECT count(1) FROM tmall_invoice t LEFT JOIN ${userDB}.tstd_user tu ON t.apply_user = tu.user_id
		<include refid="where_condition" />
	</select>

	<insert id="insert_invoice" parameterType="invoice">
		INSERT INTO tmall_invoice(
		code
		,apply_user
		,apply_datetime
		,apply_note
		,address_code
		,receipt_type
		,receipt_title
		,pay_amount
		,status
		,to_user
		)
		VALUES(
		#{code}
		,#{applyUser}
		,#{applyDatetime}
		,#{applyNote}
		,#{addressCode}
		,#{receiptType}
		,#{receiptTitle}
		,#{payAmount}
		,#{status}
		,#{toUser}
		)
	</insert>

	<update id="update_invoiceStatus" parameterType="invoice">
		UPDATE tmall_invoice
		SET
		status = #{status}
		WHERE
		code = #{code}
	</update>
	
	<update id="update_invoiceCancel" parameterType="invoice">
		UPDATE tmall_invoice
		SET
		status = #{status}
		WHERE
		code = #{code}
	</update>
	
	<update id="update_invoiceCancelOss" parameterType="invoice">
		UPDATE tmall_invoice
		SET
		status = #{status}
		,approve_user = #{approveUser}
		,approve_datetime = #{approveDatetime}
		,approve_note = #{approveNote}
		WHERE
		code = #{code}
	</update>
	
	<update id="update_invoiceApprove" parameterType="invoice">
		UPDATE tmall_invoice
		SET
		status = #{status}
		,approve_user = #{approveUser}
		,approve_datetime = #{approveDatetime}
		,approve_note = #{approveNote}
		WHERE
		code = #{code}
	</update>
	
	<update id="update_invoicePayAmount" parameterType="invoice">
		UPDATE tmall_invoice
		SET
		pay_amount = #{payAmount}
		WHERE
		code = #{code}
	</update>
	
	<update id="update_doFirstPay" parameterType="invoice">
		UPDATE tmall_invoice
		SET
		pay_amount = #{payAmount}
		,status = #{status}
		WHERE
		code = #{code}
	</update>
	
	
</mapper>
