<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xnjr.mall.dao.ILogisticsDAO">
	<resultMap id="logistics_DB_Result" type="logistics">
		<result column="code" property="code" />
		<result column="invoice_code" property="invoiceCode" />
		<result column="company" property="company" />
		<result column="delivery_datetime" property="deliveryDatetime" />
		<result column="deliverer" property="deliverer" />
		
		<result column="pdf" property="pdf" />
		<result column="user_id" property="userId" />
		<result column="status" property="status" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="updater" property="updater" />
		<result column="remark" property="remark" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="codeForLikeQuery != null and codeForLikeQuery != '' ">
				AND t.code like "%"#{codeForLikeQuery}"%"
			</if>
			<if test="invoiceCode != null and invoiceCode != '' ">
				AND t.invoice_code = #{invoiceCode}
			</if>
			<if test="invoiceCodeForLikeQuery != null and invoiceCodeForLikeQuery != '' ">
				AND t.invoice_code like "%"#{invoiceCodeForLikeQuery}"%"
			</if>
			<if test="company != null and company != '' ">
				AND t.company = #{company}
			</if>
			<if test="deliveryDatetimeStart != null and deliveryDatetimeStart != '' ">
				<![CDATA[AND t.delivery_datetime >= #{deliveryDatetimeStart}]]>
			</if>
			<if test="deliveryDatetimeEnd != null and deliveryDatetimeEnd != '' ">
				<![CDATA[AND t.delivery_datetime <= #{deliveryDatetimeEnd}]]>
			</if>
			<if test="deliverer != null and deliverer != '' ">
				AND t.deliverer = #{deliverer}
			</if>
			<if test="userId != null and userId != '' ">
				AND t.user_id = #{userId}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
		</trim>
	</sql>
	<select id="select_logistics" parameterType="logistics" resultMap="logistics_DB_Result">
		SELECT
		code
		,invoice_code
		,company
		,delivery_datetime
		,deliverer
		
		,pdf
		,user_id
		,status	
		,update_datetime
		,updater
		,remark
		FROM
		tmall_logistics t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				${order}
			</if>
		</trim>
	</select>

	<select id="select_logistics_count" parameterType="logistics"
		resultType="java.lang.Long">
		SELECT count(1) FROM tmall_logistics t
		<include refid="where_condition" />
	</select>

	<insert id="insert_logistics" parameterType="logistics">
		INSERT INTO
		tmall_logistics(
		code
		,invoice_code
		,company
		,delivery_datetime
		,deliverer
		
		,pdf
		,user_id
		,status	
		,update_datetime
		,updater
		,remark
		)
		VALUES(
		#{code}
		,#{invoiceCode}
		,#{company}
		,#{deliveryDatetime}
		,#{deliverer}
		
		,#{pdf}
		,#{userId}
		,#{status}
		,#{updateDatetime}
		,#{updater}
		,#{remark}
		)
	</insert>
	
	<update id="update_logisticsStatus" parameterType="logistics">
		UPDATE tmall_logistics
		SET
		status = #{status}
		,update_datetime = #{updateDatetime}
		,updater = #{updater}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
</mapper>
