<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xnjr.mall.dao.IModelSpecsDAO">
	<resultMap id="modelSpecs_DB_Result" type="modelSpecs">
		<result column="code" property="code" />
		<result column="dkey" property="dkey" />
		<result column="dvalue" property="dvalue" />
		<result column="order_num" property="orderNum" />
		<result column="model_code" property="modelCode" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="modelCode != null and modelCode != '' ">
				AND t.model_code = #{modelCode}
			</if>
		</trim>
	</sql>
	<select id="select_modelSpecs" parameterType="modelSpecs" resultMap="modelSpecs_DB_Result">
		SELECT
		code
		,dkey
		,dvalue
		,order_num
		,model_code
		FROM
		tmall_model_specs t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				${order}
			</if>
		</trim>
	</select>

	<select id="select_modelSpecs_count" parameterType="modelSpecs"
		resultType="java.lang.Long">
		SELECT count(1) FROM tmall_model_specs t
		<include refid="where_condition" />
	</select>

	<insert id="insert_modelSpecs" parameterType="modelSpecs">
		INSERT INTO
		tmall_model_specs(
		code
		,dkey
		,dvalue
		,order_num
		,model_code
		)
		VALUES(
		#{code}
		,#{dkey}
		,#{dvalue}
		,#{orderNum}
		,#{modelCode}
		)
	</insert>
	
	<update id="update_modelSpecs" parameterType="modelSpecs">
		UPDATE tmall_model_specs
		SET
		dkey = #{dkey}
		,dvalue = #{dvalue}
		,order_num = #{orderNum}
		WHERE code = #{code}
	</update>
	
	<delete id="delete_modelSpecs" parameterType="modelSpecs">
		DELETE FROM
		tmall_model_specs
		WHERE
		code = #{code}
	</delete>
	
	<delete id="delete_modelSpecsByModelCode" parameterType="modelSpecs">
		DELETE FROM
		tmall_model_specs
		WHERE
		model_code = #{modelCode}
	</delete>
</mapper>
