<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>	
	    <typeAlias alias="sysLog" type="com.xnjr.mall.domain.SYSLog" />
	    <typeAlias alias="sysDict" type="com.xnjr.mall.domain.SYSDict" />
	    <typeAlias alias="sysConfig" type="com.xnjr.mall.domain.SYSConfig" />
	    <typeAlias alias="sysMenu" type="com.xnjr.mall.domain.SYSMenu" />
	    <typeAlias alias="sysRole" type="com.xnjr.mall.domain.SYSRole" />
 	    <typeAlias alias="sysMenuRole" type="com.xnjr.mall.domain.SYSMenuRole" />
 	    <typeAlias alias="sysUser" type="com.xnjr.mall.domain.SYSUser" />
		
		<typeAlias alias="product" type="com.xnjr.mall.domain.Product" />
		<typeAlias alias="model" type="com.xnjr.mall.domain.Model" />
		<typeAlias alias="modelSpecs" type="com.xnjr.mall.domain.ModelSpecs" />
		<typeAlias alias="address" type="com.xnjr.mall.domain.Address" />
		<typeAlias alias="buyGuide" type="com.xnjr.mall.domain.BuyGuide" />
		
		<typeAlias alias="cart" type="com.xnjr.mall.domain.Cart" />
		<typeAlias alias="invoice" type="com.xnjr.mall.domain.Invoice" />
		<typeAlias alias="invoiceModel" type="com.xnjr.mall.domain.InvoiceModel" />
		
		<typeAlias alias="logistics" type="com.xnjr.mall.domain.Logistics" />
		<typeAlias alias="goods" type="com.xnjr.mall.domain.Goods" />
		
	</typeAliases>	
</configuration>	
