<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>	
		<typeAlias alias="serve" type="com.cdkj.service.domain.Serve" />
		<typeAlias alias="serveArt" type="com.cdkj.service.domain.ServeArt" />
		<typeAlias alias="serveCp" type="com.cdkj.service.domain.ServeCp" />
		<typeAlias alias="serveCyy" type="com.cdkj.service.domain.ServeCyy" />
		<typeAlias alias="serveKfwb" type="com.cdkj.service.domain.ServeKfwb" />
		
		<typeAlias alias="operate" type="com.cdkj.service.domain.Operate" />
		<typeAlias alias="photo" type="com.cdkj.service.domain.Photo" />
		<typeAlias alias="train" type="com.cdkj.service.domain.Train" />
		<typeAlias alias="demand" type="com.cdkj.service.domain.Demand" />
		<typeAlias alias="resume" type="com.cdkj.service.domain.Resume" />
		
		<typeAlias alias="position" type="com.cdkj.service.domain.Position" />
		<typeAlias alias="focus" type="com.cdkj.service.domain.Focus" />
		<typeAlias alias="group" type="com.cdkj.service.domain.Group" />
		<typeAlias alias="news" type="com.cdkj.service.domain.News" />
		<typeAlias alias="qualify" type="com.cdkj.service.domain.Qualify" />
		
		<typeAlias alias="bcIntention" type="com.cdkj.service.domain.BcIntention" />
		<typeAlias alias="cbIntention" type="com.cdkj.service.domain.CbIntention" />
		<typeAlias alias="company" type="com.cdkj.service.domain.Company" />
		<typeAlias alias="gsQualify" type="com.cdkj.service.domain.GsQualify" />
	</typeAliases>	
</configuration>