<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.service.dao.IPhotoDAO">
	<resultMap id="photo_DB_Result" type="photo">
		<result column="code" property="code" />
		<result column="name" property="name" />
		<result column="pic" property="pic" />
		<result column="adv_pic" property="advPic" />
		<result column="company_code" property="companyCode" />
		<result column="py_num" property="pyNum" />
		<result column="sys_num" property="sysNum" />
		<result column="is_dz" property="isDz" />
		<result column="scpslm" property="scpslm" />
		<result column="works" property="works" />
		<result column="quote_min" property="quoteMin" />
		<result column="quote_max" property="quoteMax" />
		<result column="quality_code" property="qualityCode" />
		<result column="description" property="description" />
		<result column="location" property="location" />
		<result column="order_no" property="orderNo" />
		<result column="status" property="status" />
		<result column="publisher" property="publisher" />
		<result column="publish_datetime" property="publishDatetime" />
		<result column="dealer" property="dealer" />
		<result column="deal_datetime" property="dealDatetime" />
		<result column="deal_note" property="dealNote" />
		<result column="quality_name" property="qualityName" />
		<result column="company_name" property="companyName" />
		<result column="qualify_code" property="qualifyCode" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="location != null and location != '' ">
				AND t.location = #{location}
			</if>
			<if test="orderNo != null and orderNo != '' ">
				AND t.order_no = #{orderNo}
			</if>
			<if test="name != null and name != '' ">
				AND t.name = #{name}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			<if test="companyCode != null and companyCode != '' ">
				AND t.company_code = #{companyCode}
			</if>
			<if test="qualifyCode != null and qualifyCode != '' ">
				AND t.qualify_code = #{qualifyCode}
			</if>
			<if test="qualityCode != null and qualityCode != '' ">
				AND t.quality_code = #{qualityCode}
			</if>
			<if test="publisher != null and publisher != '' ">
				AND t.publisher = #{publisher}
			</if>
			<if test="dealer != null and dealer != '' ">
				AND t.dealer = #{dealer}
			</if>
			<if test="publishDatetimeStart != null and publishDatetimeStart != '' ">
				<![CDATA[AND t.publish_datetime >= #{publishDatetimeStart}]]>
			</if>
			<if test="publishDatetimeEnd != null and publishDatetimeEnd != '' ">
				<![CDATA[AND t.publish_datetime <= #{publishDatetimeEnd}]]>
			</if>
			<if test="companyName != null and companyName != '' ">
				AND tc.name like "%"#{companyName}"%" 
			</if>
			<if test="province != null and province != '' ">
				AND tc.province = #{province}
			</if>
			<if test="city != null and city != '' ">
				AND tc.city = #{city}
			</if>
			<if test="area != null and area != '' ">
				AND tc.area = #{area}
			</if>
		</trim>
	</sql>
	<select id="select_photo" parameterType="photo" resultMap="photo_DB_Result">
		SELECT
		t.code
		,t.name
		,t.pic
		,t.adv_pic
		,t.company_code
		,t.py_num
		,t.sys_num
		,t.is_dz
		,t.scpslm
		,t.works
		,t.quote_min
		,t.quote_max
		,t.qualify_code
		,t.description
		,t.location
		,t.order_no
		,t.status
		,t.publisher
		,t.publish_datetime
		,t.dealer
		,t.deal_datetime
		,t.deal_note
		,tc.province
		,tc.city
		,tc.area
		,t.qualify_code
		,tc.name as company_name
		FROM
		tcp_photo t inner join tcp_company tc on t.company_code = tc.code inner join tcp_qualify tsc on t.qualify_code = tsc.code
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
		<choose>
			<when test='order == "gz_num DESC"'>
				tc.${order}
			</when>
			 <otherwise>
				<if test="order != null and order != '' ">
					t.${order}
				</if>
			</otherwise>
	 		</choose>
		</trim>
	</select>

	<select id="select_photo_count" parameterType="photo"
		resultType="java.lang.Long">
		SELECT count(1) FROM tcp_photo t inner join tcp_company tc on t.company_code = tc.code inner join tcp_qualify tsc on t.qualify_code = tsc.code
		<include refid="where_condition" />
	</select>

	<insert id="insert_photo" parameterType="photo">
		INSERT INTO
		tcp_photo(
		code
		,name
		,pic
		,adv_pic
		,company_code
		,py_num
		,sys_num
		,is_dz
		,scpslm
		,works
		,quote_min
		,quote_max
		,description
		,location
		,order_no
		,status
		,publisher
		,publish_datetime
		,qualify_code
		)
		VALUES(
		#{code}
		,#{name}
		,#{pic}
		,#{advPic}
		,#{companyCode}
		,#{pyNum}
		,#{sysNum}
		,#{isDz}
		,#{scpslm}
		,#{works}
		,#{quoteMin}
		,#{quoteMax}
		,#{description}
		,#{location}
		,#{orderNo}
		,#{status}
		,#{publisher}
		,#{publishDatetime}
		,#{qualifyCode}
		)
	</insert>

	<update id="update_photo" parameterType="photo">
		UPDATE tcp_photo
		SET
		name = #{name}
		,pic = #{pic}
		,adv_pic = #{advPic}
		,py_num = #{pyNum}
		,sys_num = #{sysNum}
		,is_dz = #{isDz}
		,scpslm = #{scpslm}
		,works = #{works}
		,quote_min = #{quoteMin}
		,quote_max = #{quoteMax}
		,description = #{description}
		,location = #{location}
		,order_no = #{orderNo}
		,status = #{status}
		,publisher = #{publisher}
		,publish_datetime = #{publishDatetime}
		WHERE code = #{code}
	</update>

	<update id="update_photo_wg" parameterType="photo">
		UPDATE tcp_photo
		SET
		status = #{status}
		,dealer = #{dealer}
		,deal_datetime = #{dealDatetime}
		,deal_note = #{dealNote}
		WHERE code = #{code}
	</update>
	
	<update id="update_location" parameterType="photo">
		UPDATE tcp_photo
		SET
		location = #{location}
		,order_no = #{orderNo}
		,dealer = #{dealer}
		,deal_datetime = #{dealDatetime}
		WHERE code = #{code}
	</update>
	
	<delete id="delete_photo" parameterType="photo">
		DELETE FROM
		tcp_photo
		WHERE
		code = #{code}
	</delete>
</mapper>