<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xnjr.moom.dao.IRepayPlanDAO">
	<resultMap id="repayPlan_DB_Result" type="repayPlan">
		<result column="code" property="code" />
		<result column="type" property="type" />
		<result column="status" property="status" />
		<result column="user_id" property="userId" />		
		<result column="real_name" property="realName" />
				
		<result column="repay_datetime" property="repayDatetime" />
		<result column="repay_principal" property="repayPrincipal" />
		<result column="repay_profit" property="repayProfit" />		
		<result column="fee" property="fee" />
		
		<result column="real_repay_datetime" property="realRepayDatetime" />		
		<result column="real_repay_principal" property="realRepayPrincipal" /> 
	    <result column="real_repay_profit" property="realRepayProfit" /> 
	    <result column="real_fee" property="realFee" /> 
	    
	    <result column="remark" property="remark" /> 
		<result column="invest_code" property="investCode" />
		<result column="business_code" property="businessCode" />
		<result column="subject_code" property="subjectCode" /> 
		<result column="business_profit" property="businessProfit" /> 
	</resultMap>
	<resultMap id="sumPP_DB_Result" type="repayPlan">
		<result column="repay_principal" property="repayPrincipal" />
		<result column="repay_profit" property="repayProfit" />		
	</resultMap>
	
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="type != null and type != '' ">
				AND t.type = #{type}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			<if test="userId != null and userId != '' ">
				AND t.user_id = #{userId}
			</if>
			<if test="realName != null and realName != '' ">
				AND t.real_name = #{realName}
			</if>
			<if test="investCode != null and investCode != '' ">
				AND t.invest_code = #{investCode}
			</if>
			<if test="businessCode != null and businessCode != '' ">
				AND t.business_code = #{businessCode}
			</if>
			<if test="subjectCode != null and subjectCode != '' ">
				AND t.subject_code = #{subjectCode}
			</if>
		</trim>
	</sql>
	
	<select id="select_repayPlan" parameterType="repayPlan" resultMap="repayPlan_DB_Result">
		SELECT
		code
		,type
		,status
		,user_id
		,real_name
		
		,repay_datetime
		,repay_principal
		,repay_profit
		,fee
		
		,real_repay_datetime		
		,real_repay_principal
		,real_repay_profit
		,real_fee
		
		,remark
		,invest_code
		,business_code
		,subject_code
		,business_profit
		FROM
		tmoom_repay_plan t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			${order}
		</trim>
	</select>

	<select id="select_repayPlan_count" parameterType="repayPlan" resultType="java.lang.Long">
		SELECT count(1) FROM tmoom_repay_plan t
		<include refid="where_condition" />
	</select>

	<insert id="insert_repayPlan" parameterType="repayPlan">
		INSERT INTO tmoom_repay_plan(
		code
		,type
		,status
		,user_id
		,real_name
		
		,repay_datetime
		,repay_principal
		,repay_profit
		,fee
		,remark
		
		,invest_code
		,subject_code
		,business_code
		,business_profit
		)
		VALUES(
		#{code}
		,#{type}
		,#{status}
		,#{userId}
		,#{realName}
		
		,#{repayDatetime}
		,#{repayPrincipal}
		,#{repayProfit}
		,#{fee}
		,#{remark}
		
		,#{investCode}
		,#{subjectCode}
		,#{businessCode}
		,#{businessProfit}
		)
	</insert>

	<update id="update_repayAll" parameterType="repayPlan">
		UPDATE tmoom_repay_plan SET
		status = #{status}
		,real_repay_datetime = #{realRepayDatetime}		
		,real_repay_principal = #{realRepayPrincipal}
		,real_repay_profit = #{realRepayProfit}
		,real_fee = #{realFee}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<select id="select_sumPP" parameterType="repayPlan" resultMap="sumPP_DB_Result">
		SELECT
		(SELECT sum(ti.invest_amount) FROM tmoom_invest ti where ti.user_id=#{userId} and ti.status = '1') repay_principal
		,sum(repay_profit) repay_profit
		FROM
		tmoom_repay_plan t
		WHERE user_id = #{userId}
	</select>
</mapper>
