<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.service.dao.IServeTrainDAO">
	<resultMap id="serveTrain_DB_Result" type="serveTrain">
		<result column="serve_code" property="serveCode" />
		<result column="lector_num" property="lectorNum" />
		<result column="mtrain_times" property="mtrainTimes" />
		<result column="mtrain_num" property="mtrainNum" />
		<result column="resume1" property="resume1" />
		<result column="resume2" property="resume2" />
		<result column="resume3" property="resume3" />
		<result column="course" property="course" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="serveCode != null and serveCode != '' ">
				AND t.serve_code = #{serveCode}
			</if>
		</trim>
	</sql>
	<select id="select_serveTrain" parameterType="serveTrain" resultMap="serveTrain_DB_Result">
		SELECT
		t.serve_code
		,t.lector_num
		,t.mtrain_times
		,t.mtrain_num
		,t.resume1
		,t.resume2
		,t.resume3
		,t.course
		FROM
		tcp_serve_train t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_serveTrain_count" parameterType="serveTrain"
		resultType="java.lang.Long">
		SELECT count(1) FROM tcp_serve_train t
		<include refid="where_condition" />
	</select>

	<insert id="insert_serveTrain" parameterType="serveTrain">
		INSERT INTO
		tcp_serve_train(
		serve_code
		,lector_num
		,mtrain_times
		,mtrain_num
		,resume1
		,resume2
		,resume3
		,course
		)
		VALUES(
		#{serveCode}
		,#{lectorNum}
		,#{mtrainTimes}
		,#{mtrainNum}
		,#{resume1}
		,#{resume2}
		,#{resume3}
		,#{course}
		)
	</insert>

	<update id="update_serveTrain" parameterType="serveTrain">
		UPDATE tcp_serve_train
		SET
		lector_num = #{lectorNum}
		,mtrain_times = #{mtrainTimes}
		,mtrain_num = #{mtrainNum}
		,resume1 = #{resume1}
		,resume2 = #{resume2}
		,resume3 = #{resume3}
		,course = #{course}
		WHERE serve_code = #{serveCode}
	</update>

	<delete id="delete_serveTrain" parameterType="serveTrain">
		DELETE FROM
		tcp_serve_train
		WHERE
		serve_code = #{serveCode}
	</delete>

</mapper>