<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.service.dao.IServeDAO">
	<resultMap id="serve_DB_Result" type="serve">
		<result column="code" property="code" />
		<result column="name" property="name" />
		<result column="company_code" property="companyCode" />
		<result column="quote_min" property="quoteMin" />
		<result column="quote_max" property="quoteMax" />
		<result column="quality_code" property="qualityCode" />
		<result column="description" property="description" />
		<result column="is_hot" property="isHot" />
		<result column="order_no" property="orderNo" />
		<result column="status" property="status" />
		<result column="publisher" property="publisher" />
		<result column="publish_datetime" property="publishDatetime" />
		<result column="dealer" property="dealer" />
		<result column="deal_datetime" property="dealDatetime" />
		<result column="deal_note" property="dealNote" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="name != null and name != '' ">
				AND t.name = #{name}
			</if>
			<if test="companyCode != null and companyCode != '' ">
				AND t.company_code = #{companyCode}
			</if>
			<if test="qualityCode != null and qualityCode != '' ">
				AND t.quality_code = #{qualityCode}
			</if>
			<if test="isHot != null and isHot != '' ">
				AND t.is_hot = #{isHot}
			</if>
			<if test="pubisher != null and pubisher != '' ">
				AND t.pubisher = #{pubisher}
			</if>
			<if test="dealer != null and dealer != '' ">
				AND t.dealer = #{dealer}
			</if>
			<if test="publishDatetimeStart != null and publishDatetimeStart != '' ">
				<![CDATA[AND t.publish_datetime >= #{publishDatetimeStart}]]>
			</if>
			<if test="publishDatetimeEnd != null and publishDatetimeEnd != '' ">
				<![CDATA[AND t.publish_datetime <= #{publishDatetimeEnd}]]>
			</if>
		</trim>
	</sql>
	<select id="select_serve" parameterType="serve" resultMap="serve_DB_Result">
		SELECT
		t.code
		,t.name
		,t.company_code
		,t.quote_min
		,t.quote_max
		,t.quality_code
		,t.description
		,t.is_hot
		,t.order_no
		,t.status
		,t.publisher
		,t.publish_datetime
		,t.dealer
		,t.deal_datetime
		,t.deal_note
		FROM
		tcp_serve t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_serve_count" parameterType="serve"
		resultType="java.lang.Long">
		SELECT count(1) FROM tcp_serve t
		<include refid="where_condition" />
	</select>

	<insert id="insert_serve" parameterType="serve">
		INSERT INTO
		tcp_serve(
		code
		,name
		,company_code
		,quote_min
		,quote_max
		,quality_code
		,description
		,is_hot
		,order_no
		,status
		,publisher
		,publish_datetime
		,dealer
		,deal_datetime
		,deal_note
		)
		VALUES(
		#{code}
		,#{name}
		,#{companyCode}
		,#{quoteMin}
		,#{quoteMax}
		,#{qualityCode}
		,#{description}
		,#{isHot}
		,#{orderNo}
		,#{status}
		,#{publisher}
		,#{publishDatetime}
		,#{dealer}
		,#{dealDatetime}
		,#{dealNote}
		)
	</insert>

	<update id="update_serve" parameterType="serve">
		UPDATE tcp_serve
		SET
		name = #{name}
		,quote_min = #{quoteMin}
		,quote_max = #{quoteMax}
		,description = #{description}
		,publisher = #{publisher}
		,publish_datetime = #{publishDatetime}
		WHERE code = #{code}
	</update>
	
	<update id="update_serve_status" parameterType="serve">
		UPDATE tcp_serve
		SET
		status = #{status}
		,dealer = #{dealer}
		,deal_datetime = #{dealDatetime}
		,deal_note = #{dealNote}
		WHERE code = #{code}
	</update>
	
	<update id="update_serve_hot" parameterType="serve">
		UPDATE tcp_serve
		SET
		is_hot = #{isHot}
		,order_no = #{orderNo}
		,dealer = #{dealer}
		,deal_datetime = #{dealDatetime}
		WHERE code = #{code}
	</update>

	<delete id="delete_serve" parameterType="serve">
		DELETE FROM
		tcp_serve
		WHERE
		code = #{code}
	</delete>

</mapper>