<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xnjr.moom.dao.ISubjectDAO">
	<resultMap id="subject_DB_Result" type="subject">
	   <result column="code" property="code" />
	   <result column="name" property="name" />
	   <result column="status" property="status" />
	   <result column="total_amount" property="totalAmount" />
	   <result column="total_principal" property="totalPrincipal" />
	   
	   <result column="total_profit" property="totalProfit" />
	   <result column="serve" property="serve" />
	   <result column="quote" property="quote" />
	   <result column="quote_value1" property="quoteValue1" />
	   <result column="quote_value2" property="quoteValue2" />
	   
	   <result column="level" property="level" />
	   <result column="trader" property="trader" />
	   <result column="trader_name" property="traderName" />
	   <result column="start_datetime" property="startDatetime" />
	   <result column="end_datetime" property="endDatetime" />
	   
	   <result column="remark" property="remark" />
	   <result column="project_code" property="projectCode" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			<if test="name != null and name != '' ">
				AND t.name = #{name}
			</if>
			<if test="serve != null and serve != '' ">
				AND t.serve = #{serve}
			</if>
			<if test="quote != null and quote != '' ">
				AND t.quote = #{quote}
			</if>
			<if test="level != null and level != '' ">
				AND t.level = #{level}
			</if>
			<if test="trader != null and trader != '' ">
				AND t.trader = #{trader}
			</if>
			<if test="projectCode != null and projectCode != '' ">
				AND t.project_code = #{projectCode}
			</if>
		</trim>
	</sql>
	<select id="select_subject" parameterType="subject" resultMap="subject_DB_Result">
		SELECT
		  code
		  ,name
		  ,status
		  ,total_amount
		  ,total_principal
		  
		  ,total_profit
		  ,serve
		  ,quote
		  ,quote_value1
		  ,quote_value2
		  
		  ,level
		  ,trader
		  ,trader_name
		  ,start_datetime
		  ,end_datetime
		  
		  ,remark
		  ,project_code
		FROM
		tmo_subject t 
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				${order}
			</if>
		</trim>
	</select>
	
	<select id="select_mySubject" parameterType="subject" resultMap="subject_DB_Result">
		SELECT DISTINCT
		    tsub.code,
		    tsub.name,
		    tsub.status,
		    tsub.total_amount,
		    tsub.total_principal,
		    tsub.total_profit,
		    tsub.serve,
		    tsub.quote,
		    tsub.quote_value1,
		    tsub.quote_value2,
		    tsub.level,
		    tsub.trader,
		    tsub.trader_name,
		    tsub.start_datetime,
		    tsub.end_datetime,
		    tsub.remark,
		    tsub.project_code
		FROM
		    tmo_trace ttra,
		    tmo_business tbus,
		    tmo_subject tsub,
		    tfd_user_company tuc
		WHERE
		    (ttra.type = '1'
	        AND ttra.business_code = tbus.code
	        AND tbus.subject_code = tsub.code
	        AND ttra.company_code = tuc.company_code
	        AND tuc.status = '2'
			AND tuc.user_id = #{userId}
			<if test="status != null and status != '' ">
				AND tsub.status = #{status}
			</if>) 
			OR (ttra.type = '2'
	        AND ttra.business_code = tbus.code
	        AND tbus.subject_code = tsub.code
	        AND ttra.company_code = #{userId}
	        <if test="status != null and status != '' ">
				AND tsub.status = #{status}
			</if>)
	</select>

	<select id="select_subject_count" parameterType="subject" resultType="java.lang.Long">
		SELECT count(1) FROM tmo_subject t 
		<include refid="where_condition" />
	</select>
	
	<insert id="insert_subject" parameterType="subject">
		INSERT INTO tmo_subject(
		  code
		  ,name
		  ,status
		  ,total_amount
		  ,total_principal
		  
		  ,total_profit
		  ,serve
		  ,quote
		  ,quote_value1
		  ,quote_value2
		  
		  ,level
		  ,trader
		  ,trader_name
		  ,remark
		  ,project_code
		)
		VALUES(
		   #{code}
		  ,#{name}
		  ,#{status}
		  ,#{totalAmount}
		  ,#{totalPrincipal}
		  
		  ,#{totalProfit}
		  ,#{serve}
		  ,#{quote}
		  ,#{quoteValue1}
		  ,#{quoteValue2}
		  
		  ,#{level}
		  ,#{trader}
		  ,#{traderName}
		  ,#{remark}
		  ,#{projectCode}
		)
	</insert>
	
	<update id="update_startSubject" parameterType="subject">
		UPDATE tmo_subject SET
		status = #{status}
		,remark = #{remark}
		,start_datetime= #{startDatetime}
		WHERE code = #{code}
	</update>
	
	<update id="update_cancelSubject" parameterType="subject">
		UPDATE tmo_subject SET
		status = #{status}
		,remark = #{remark}
		,end_datetime = #{endDatetime}
		WHERE code = #{code}
	</update>
	
	<update id="update_stopSubject" parameterType="subject">
		UPDATE tmo_subject SET
		status = #{status}
		,remark = #{remark}
		,end_datetime = #{endDatetime}
		WHERE code = #{code}
	</update>
	
	<update id="update_updateTotal" parameterType="subject">
		UPDATE tmo_subject SET
		total_principal = #{totalPrincipal}
		,total_profit = #{totalProfit}
		WHERE code = #{code}
	</update>
	
</mapper>
