<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xnjr.moom.dao.ISYSDictDAO">
	<resultMap id="sysDict_DB_Result" type="sysDict">
		<result column="id" property="id" />
		<result column="to_system" property="toSystem" />
		<result column="type" property="type" />
		<result column="parent_key" property="parentKey" />
		<result column="dkey" property="dkey" />
		<result column="dvalue" property="dvalue" />
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="id != null">
				AND t.id = #{id}
			</if>	
			<if test="toSystem != null and toSystem != '' ">
				AND t.to_system = #{toSystem}
			</if>
			<if test="type != null and type != '' ">
				AND t.type = #{type}
			</if>
			<if test="dkey != null and dkey != '' ">
				AND t.dkey = #{dkey}
			</if>
			<if test="parentKey != null and parentKey != '' ">
				AND t.parent_key = #{parentKey}
			</if>	
		</trim>
	</sql>
	<select id="select_sysDict" parameterType="sysDict" resultMap="sysDict_DB_Result">
		SELECT
		id
		,to_system
		,type
		,parent_key
		,dkey
		
		,dvalue
		,updater
		,update_datetime
		,remark
		FROM
		tsys_dict t 
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				${order}
			</if>
		</trim>	
	</select>

	<select id="select_sysDict_count" parameterType="sysDict" resultType="java.lang.Long">
		SELECT count(1) FROM tsys_dict t 
		<include refid="where_condition" />
	</select>
	
	<insert id="insert_sysDict" parameterType="sysDict" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO tsys_dict(
		to_system
		,type
		,parent_key
		,dkey
		,dvalue
		,updater
		,update_datetime
		,remark
		)
		VALUES(
		#{toSystem}
		,#{type}
		,#{parentKey}
		,#{dkey}
		,#{dvalue}
		,#{updater}
		,#{updateDatetime}
		,#{remark}
		)
	</insert>

	<delete id="delete_sysDict" parameterType="sysDict">
		DELETE FROM tsys_dict
		WHERE
		id = #{id}
	</delete>
	
	<update id="update_sysDict" parameterType="sysDict">
		UPDATE tsys_dict SET
		dvalue = #{dvalue}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark=#{remark}
		WHERE id = #{id}
	</update>
</mapper>
