<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xnjr.mall.dao.ISYSMenuRoleDAO">
	<resultMap id="sysMenuRole_DB_Result" type="sysMenuRole">
		<result column="id" property="id" />
		<result column="role_code" property="roleCode" />
		<result column="menu_code" property="menuCode" />
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />		
		
		<result column="remark" property="remark" />		
	</resultMap>
	
	<resultMap id="sysMenu_DB_Result" type="sysMenu">
		<result column="code" property="code" />
		<result column="name" property="name" />
		<result column="type" property="type" />
		<result column="url" property="url" />
		<result column="order_no" property="orderNo" />
		
		<result column="parent_code" property="parentCode" />	
		<result column="remark" property="remark" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">	
			<if test="id != null and id != '' ">
				AND t.id = #{id}
			</if>		
			<if test="roleCode != null and roleCode != '' ">
				AND t.role_code = #{roleCode}
			</if>	
			<if test="menuCode != null and menuCode != '' ">
				AND t.menu_code = #{menuCode}
			</if>	
			<if test="updater != null and updater != '' ">
				AND t.updater = #{updater}
			</if>
		</trim>
	</sql>
	
	<sql id="where_permission_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">	
			<if test="roleCode != null and roleCode != '' ">
				AND t.role_code = #{roleCode}
			</if>		
			<if test="parentCode != null and parentCode != '' ">
				AND m.parent_code = #{parentCode}
			</if>	
			<if test="type != null and type != '' ">
				AND m.type = #{type}
			</if>
			<if test="kind != null and kind != '' ">
				AND m.kind = #{kind}
			</if>
		</trim>
	</sql>
	
	<select id="select_sysMenuRole" parameterType="sysMenuRole" resultMap="sysMenuRole_DB_Result">
		SELECT 
		id
		,role_code
		,menu_code	
		,updater
		,update_datetime
		,remark		
		FROM
		tsys_menu_role t
		<include refid="where_condition"/>
	</select>

	<select id="select_sysMenuRole_count" parameterType="sysMenuRole" resultType="java.lang.Long">
		SELECT count(1) FROM tsys_menu_role t
		<include refid="where_condition"/>
	</select>

	<insert id="insert_sysMenuRole" parameterType="sysMenuRole">
		INSERT INTO tsys_menu_role(
		role_code
		,menu_code
		,updater	
		,remark			
		)
		VALUES(
		#{roleCode}
		,#{menuCode}
		,#{updater}	
		,#{remark}		
		)
	</insert>

	<update id="update_sysMenuRole" parameterType="sysMenuRole">
		UPDATE tsys_menu_role
		SET
		role_code= #{roleCode}
		,menu_code = #{menuCode}	
		,updater = #{updater}	
		,update_datetime = #{updateDatetime}	
		,remark = #{remark}		
		WHERE
		id = #{id}			
	</update>
	
	<delete id="delete_sysMenuRole" parameterType="sysMenuRole">
		DELETE FROM tsys_menu_role 
		WHERE id = #{id}
	</delete>
	
	<delete id="delete_sysMenuRoleList" parameterType="sysMenuRole">
		DELETE FROM tsys_menu_role 
		WHERE role_code = #{roleCode}		
	</delete>
	
	<select id="select_sysMenu_list" parameterType="sysMenuRole"
		resultMap="sysMenu_DB_Result">
		SELECT
		m.code
		,m.name
		,m.url
		,m.parent_code
		,m.type
		,m.order_no
		,m.remark
		FROM
		tsys_menu_role t INNER JOIN tsys_menu m
		ON t.menu_code = m.code
		<include refid="where_permission_condition"/>
		order by m.order_no,m.code 
	</select>
</mapper>
