<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.service.dao.ITrainDAO">
	<resultMap id="train_DB_Result" type="train">
		<result column="code" property="code" />
		<result column="name" property="name" />
		<result column="pic" property="pic" />
		<result column="adv_pic" property="advPic" />
		<result column="company_code" property="companyCode" />
		<result column="lector_num" property="lectorNum" />
		<result column="mtrain_times" property="mtrainTimes" />
		<result column="mtrain_num" property="mtrainNum" />
		<result column="resume1" property="resume1" />
		<result column="resume2" property="resume2" />
		<result column="resume3" property="resume3" />
		<result column="course" property="course" />
		<result column="quote_min" property="quoteMin" />
		<result column="quote_max" property="quoteMax" />
		<result column="quality_code" property="qualityCode" />
		<result column="description" property="description" />
		<result column="location" property="location" />
		<result column="order_no" property="orderNo" />
		<result column="status" property="status" />
		<result column="publisher" property="publisher" />
		<result column="publish_datetime" property="publishDatetime" />
		<result column="dealer" property="dealer" />
		<result column="deal_datetime" property="dealDatetime" />
		<result column="deal_note" property="dealNote" />
		<result column="quality_name" property="qualityName" />
		<result column="company_name" property="companyName" />
		<result column="qualify_code" property="qualifyCode" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="location != null and location != '' ">
				AND t.location = #{location}
			</if>
			<if test="orderNo != null and orderNo != '' ">
				AND t.order_no = #{orderNo}
			</if>
			<if test="name != null and name != '' ">
				AND t.name = #{name}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			<if test="companyCode != null and companyCode != '' ">
				AND t.company_code = #{companyCode}
			</if>
			<if test="qualityCode != null and qualityCode != '' ">
				AND t.quality_code = #{qualityCode}
			</if>
			<if test="qualifyCode != null and qualifyCode != '' ">
				AND t.qualify_code = #{qualifyCode}
			</if>
			<if test="publisher != null and publisher != '' ">
				AND t.publisher = #{publisher}
			</if>
			<if test="dealer != null and dealer != '' ">
				AND t.dealer = #{dealer}
			</if>
			<if test="publishDatetimeStart != null and publishDatetimeStart != '' ">
				<![CDATA[AND t.publish_datetime >= #{publishDatetimeStart}]]>
			</if>
			<if test="publishDatetimeEnd != null and publishDatetimeEnd != '' ">
				<![CDATA[AND t.publish_datetime <= #{publishDatetimeEnd}]]>
			</if>
			<if test="companyName != null and companyName != '' ">
				AND tc.name like "%"#{companyName}"%" 
			</if>
			<if test="province != null and province != '' ">
				AND tc.province = #{province}
			</if>
			<if test="city != null and city != '' ">
				AND tc.city = #{city}
			</if>
			<if test="area != null and area != '' ">
				AND tc.area = #{area}
			</if>
		</trim>
	</sql>
	<select id="select_train" parameterType="train" resultMap="train_DB_Result">
		SELECT
		t.code
		,t.name
		,t.pic
		,t.adv_pic
		,t.company_code
		,t.lector_num
		,t.mtrain_times
		,t.mtrain_num
		,t.resume1
		,t.resume2
		,t.resume3
		,t.course
		,t.quote_min
		,t.quote_max
		,t.quality_code
		,t.description
		,t.location
		,t.order_no
		,t.status
		,t.publisher
		,t.publish_datetime
		,t.dealer
		,t.deal_datetime
		,t.deal_note
		,tc.province
		,tc.city
		,tc.area
		,t.qualify_code
		FROM
		tcp_train t inner join tcp_company tc on t.company_code = tc.code inner join tcp_qualify tsc on t.qualify_code = tsc.code
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_train_count" parameterType="train"
		resultType="java.lang.Long">
		SELECT count(1) FROM tcp_train t inner join tcp_company tc on t.company_code = tc.code inner join tcp_qualify tsc on t.qualify_code = tsc.code
		<include refid="where_condition" />
	</select>

	<insert id="insert_train" parameterType="train">
		INSERT INTO
		tcp_train(
		code
		,name
		,pic
		,adv_pic
		,company_code
		,lector_num
		,mtrain_times
		,mtrain_num
		,resume1
		,resume2
		,resume3
		,course
		,quote_min
		,quote_max
		,quality_code
		,description
		,location
		,order_no
		,status
		,publisher
		,publish_datetime
		,qualify_code
		)
		VALUES(
		#{code}
		,#{name}
		,#{pic}
		,#{advPic}
		,#{companyCode}
		,#{lectorNum}
		,#{mtrainTimes}
		,#{mtrainNum}
		,#{resume1}
		,#{resume2}
		,#{resume3}
		,#{course}
		,#{quoteMin}
		,#{quoteMax}
		,#{qualityCode}
		,#{description}
		,#{location}
		,#{orderNo}
		,#{status}
		,#{publisher}
		,#{publishDatetime}
		,#{qualifyCode}
		)
	</insert>

	<update id="update_train" parameterType="train">
		UPDATE tcp_train
		SET
		name = #{name}
		,pic = #{pic}
		,adv_pic = #{advPic}
		,lector_num = #{lectorNum}
		,mtrain_times = #{mtrainTimes}
		,mtrain_num = #{mtrainNum}
		,resume1 = #{resume1}
		,resume2 = #{resume2}
		,resume3 = #{resume3}
		,course = #{course}
		,quote_min = #{quoteMin}
		,quote_max = #{quoteMax}
		,description = #{description}
		,publisher = #{publisher}
		,publish_datetime = #{publishDatetime}
		WHERE code = #{code}
	</update>

	<update id="update_wgcl" parameterType="train">
		UPDATE tcp_train
		SET
		status = #{status}
		,dealer = #{dealer}
		,deal_datetime = #{dealDatetime}
		WHERE code = #{code}
	</update>
	
	<update id="update_location" parameterType="train">
		UPDATE tcp_train
		SET
		location = #{location}
		,order_no = #{orderNo}
		,dealer = #{dealer}
		,deal_datetime = #{dealDatetime}
		WHERE code = #{code}
	</update>
	
	<delete id="delete_train" parameterType="train">
		DELETE FROM
		tcp_train
		WHERE
		code = #{code}
	</delete>
</mapper>