<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xnjr.moom.dao.IWillInvestDAO">
	<resultMap id="willInvest_DB_Result" type="willInvest">
		<result column="code" property="code" />
		<result column="status" property="status" />
		<result column="project_code" property="projectCode" />
		<result column="user_id" property="userId" />
		
		<result column="real_name" property="realName" />
		<result column="now_amount" property="nowAmount" />
		<result column="now_note" property="nowNote" />
		<result column="invest_datetime" property="investDatetime" />
		<result column="check_datetime" property="checkDatetime" />
		
		<result column="remark" property="remark" />
	</resultMap>
	
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != ''">
				AND t.code = #{code}
			</if>
			<if test="status != null and status != ''">
				<choose>  
		        	<when test="status== '12'">  
		            	AND t.status in (1,2) 
		        	</when>  
		        	<otherwise>  
		              	AND t.status = #{status}
		        	</otherwise>  
	        	</choose>	
			</if>
			<if test="projectCode != null and projectCode != ''">
				AND t.project_code = #{projectCode}
			</if>
			<if test="userId != null and userId != ''">
				AND t.user_id = #{userId}
			</if>
			<if test="realName != null and realName != ''">
				AND t.real_name = #{realName}
			</if>
			<if test="investDatetimeStart != null and investDatetimeStart != '' ">
				<![CDATA[AND t.invest_datetime >= #{investDatetimeStart}]]>
			</if>
			<if test="investDatetimeEnd != null and investDatetimeEnd != '' ">
				<![CDATA[AND t.invest_datetime <= #{investDatetimeEnd}]]>
			</if>
		</trim>
	</sql>
	
	<select id="select_willInvest" parameterType="willInvest" resultMap="willInvest_DB_Result">
		SELECT
		code
		,status
		,project_code
		,user_id
		,real_name
		
		,now_amount
		,now_note
		,invest_datetime
		,check_datetime
		,remark
		FROM
		tmo_will_invest t 
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				${order}
			</if>
		</trim>
	</select>
	
	<select id="select_willInvest_count" parameterType="willInvest" resultType="java.lang.Long">
		SELECT count(1) FROM tmo_will_invest t
		<include refid="where_condition" />
	</select>
	
	<insert id="insert_willInvest" parameterType="willInvest">
		INSERT INTO tmo_will_invest(
		code
		,status
		,project_code
		,user_id
		,real_name
		
		,now_amount
		,now_note
		,invest_datetime
		)
		VALUES(
		#{code}
		,#{status}
		,#{projectCode}
		,#{userId}
		,#{realName}
		
		,#{nowAmount}
		,#{nowNote}
		,#{investDatetime}
		)
	</insert>
</mapper>
